## Backtesting trading strategies

In [2]:
import pandas as pd 
import yfinance as yf
import sys
sys.path.append('../src')
from data import load_preprocessed_data, load_close_data, load_data
from strategies import MACD
from hydra import initialize, compose
import talib
import numpy as np
import multiprocessing
from golden_death_cross import GoldenDeathCross

sys.path.append("../")
import conf

%load_ext autoreload
%autoreload 2

In [24]:
PREPROCESSED_DATAPATH = conf.backtest_conf["data"]["preprocessed_datapath"]
# df = load_data(PREPROCESSED_DATAPATH,['_Close','_Open'])
df = load_data(PREPROCESSED_DATAPATH,['_Close'])
df.head()

,Date,AIR_Close,ABM_Close,AEG_Close,AMN_Close,AOS_Close,ASA_Close,T_Close,AZZ_Close,ANF_Close,...,WY_Close,WTM_Close,WMB_Close,WOLF_Close,WKC_Close,WWE_Close,WOR_Close,XRX_Close,YUM_Close,ZBH_Close
0,2002-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2002-01-02,9.20,15.380,25.903847,27.400000,3.191667,6.633333,30.135952,5.2625,26.809999,...,53.660000,350.000000,21.170744,29.700001,4.5600,13.50,14.00,27.457182,8.625090,29.349516
2,2002-01-03,9.66,15.320,26.000000,27.250000,3.268333,6.600000,30.339878,5.2625,28.080000,...,53.990002,346.899994,20.869120,32.330002,4.5375,13.71,14.10,27.404480,8.806614,29.165049
3,2002-01-04,9.84,15.605,25.038462,26.969999,3.380000,6.580000,30.203926,5.3000,29.820000,...,55.520000,340.000000,20.314783,32.450001,4.5750,13.74,14.45,26.482212,9.148095,28.689320
4,2002-01-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [38]:
df.iloc[5:20]

,Date,AIR_Close,ABM_Close,AEG_Close,AMN_Close,AOS_Close,ASA_Close,T_Close,AZZ_Close,ANF_Close,...,WY_Close,WTM_Close,WMB_Close,WOLF_Close,WKC_Close,WWE_Close,WOR_Close,XRX_Close,YUM_Close,ZBH_Close
5,2002-01-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2002-01-07,9.70,15.300,24.576923,26.850000,3.361667,6.750000,30.143505,5.3000,29.049999,...,55.349998,340.0,20.379999,32.000000,4.5500,13.70,14.57,26.034256,9.318835,28.689320
7,2002-01-08,9.85,15.020,24.269232,26.500000,3.216667,6.880000,30.015106,5.2775,29.080000,...,54.290001,340.0,20.763144,31.639999,4.6425,13.70,14.08,26.218710,9.498562,29.611650
8,2002-01-09,9.85,15.080,23.942308,25.690001,3.225000,6.873333,28.829306,5.2525,27.740000,...,54.150002,338.5,20.869120,31.219999,4.8725,13.60,14.05,25.718050,9.507549,29.805824
9,2002-01-10,9.70,15.240,24.009615,25.209999,3.250000,7.003333,29.078550,5.2500,27.090000,...,53.369999,337.0,20.754992,30.650000,4.8200,13.68,14.22,25.691700,9.588426,29.669903
10,2002-01-11,9.55,14.950,24.096153,25.180000,3.283333,6.983333,28.572508,5.3125,25.959999,...,53.389999,334.5,20.787600,23.600000,4.8700,13.85,14.20,25.480896,9.545291,29.058252
11,2002-01-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,2002-01-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,2002-01-14,9.09,14.885,23.115385,24.940001,3.325000,7.033333,28.708460,5.2000,25.459999,...,52.110001,340.0,20.494127,21.309999,4.7750,13.35,13.84,25.401846,9.478792,30.883495
14,2002-01-15,8.92,14.875,23.307692,24.049999,3.300000,7.210000,28.542295,5.2725,24.969999,...,51.599998,335.0,20.151745,21.030001,4.5375,13.12,13.86,26.218710,9.579439,30.339806
15,2002-01-16,8.28,14.725,22.903847,22.389999,3.375000,7.366667,28.028702,5.2925,24.480000,...,51.040001,334.0,19.581104,20.440001,4.5875,13.21,13.73,26.166008,9.536305,30.407766
16,2002-01-17,8.49,14.700,23.865385,22.799999,3.441667,7.446667,27.854984,5.3050,25.350000,...,51.330002,336.5,19.466976,21.469999,4.6125,13.65,14.10,25.823452,9.536305,30.873787
17,2002-01-18,8.17,14.355,23.086538,22.799999,3.208333,7.366667,27.575529,5.3125,24.870001,...,51.509998,333.0,19.825665,20.950001,4.6500,13.73,13.81,25.428196,9.556075,30.300970
18,2002-01-19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,2002-01-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
RAW_DATAPATH = conf.backtest_conf["data"]["raw_datapath"]
df = load_close_data(RAW_DATAPATH)
df.head()

,Date,AHC_Open,AHC_High,AHC_Low,AHC_Close,AHC_Adj Close,AHC_Volume,AIR_Open,AIR_High,AIR_Low,...,ZUO_Low,ZUO_Close,ZUO_Adj Close,ZUO_Volume,ZYME_Open,ZYME_High,ZYME_Low,ZYME_Close,ZYME_Adj Close,ZYME_Volume
0,2002-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2002-01-02,NaN,NaN,NaN,NaN,NaN,NaN,9.00,9.23,8.99,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2002-01-03,NaN,NaN,NaN,NaN,NaN,NaN,9.30,9.68,9.28,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2002-01-04,NaN,NaN,NaN,NaN,NaN,NaN,9.66,9.90,9.66,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2002-01-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
yf.download('A')

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
1999-11-18,32.546494,35.765381,28.612303,31.473534,26.794762,62546380
1999-11-19,30.713518,30.758226,28.478184,28.880545,24.587238,15234146
1999-11-22,29.551144,31.473534,28.657009,31.473534,26.794762,6577870
1999-11-23,30.400572,31.205294,28.612303,28.612303,24.358875,5975611
1999-11-24,28.701717,29.998213,28.612303,29.372318,25.005909,4843231
...,...,...,...,...,...,...
2023-07-03,120.019997,120.849998,119.220001,119.320000,119.320000,996200
2023-07-05,118.949997,120.279999,118.610001,119.500000,119.500000,1246200
2023-07-06,116.360001,118.889999,115.660004,118.430000,118.430000,1626600
2023-07-07,117.669998,119.080002,116.889999,117.000000,117.000000,1493300
2023-07-10,116.730003,119.519997,116.559998,118.360001,118.360001,1889200

In [2]:
# load close data
with initialize(version_base=None, config_path="../conf"):
    datapipeline_cfg = compose(config_name='datapipeline')
stock_data = load_close_data(datapipeline_cfg)
stock_data.head()

,Date,A_Close,AA_Close,AAIC_Close,AAP_Close,AAT_Close,AB_Close,ABB_Close,ABC_Close,ABEV_Close,...,X_Close,XOM_Close,XOXO_Close,XPO_Close,XRM_Close,XRX_Close,XYL_Close,YUM_Close,ZBH_Close,ZTR_Close
0,2002-01-02,20.922747,85.739037,108.000000,15.926667,21.250000,48.349998,9.89,15.7125,0.6,...,17.500000,39.599998,0.47,1.729270,240.000000,27.457182,24.25,8.625090,29.349516,28.400000
1,2002-01-03,22.246065,86.844421,116.000000,15.100000,21.309999,48.889999,10.61,15.4250,0.6,...,18.129999,39.660000,0.46,1.729270,233.000000,27.404480,25.35,8.806614,29.165049,28.559999
2,2002-01-04,23.447783,89.631897,119.599998,14.166667,21.370001,50.049999,11.11,15.0375,0.6,...,18.450001,40.000000,0.59,1.729270,233.000000,26.482212,25.16,9.148095,28.689320,28.799999
3,2002-01-07,23.354794,91.698479,117.000000,13.933333,21.250000,50.299999,10.70,14.5125,0.6,...,18.400000,39.650002,0.54,1.798440,233.199997,26.034256,25.24,9.318835,28.689320,28.840000
4,2002-01-08,23.426323,89.728020,123.000000,13.700000,21.209999,50.130001,10.83,14.6050,0.6,...,18.410000,39.700001,0.59,1.839943,235.000000,26.218710,24.75,9.498562,29.611650,28.840000

In [7]:
# load preprocessed data
processed_data = load_preprocessed_data(datapipeline_cfg)
processed_data.head()

c:\Users\User\Desktop\side projects\backtesting\notebooks\../src\data.py:23: DtypeWarning: Columns (5,10,12,14,15,17,23,27,29,33,34,36,38,39,41,47,51,63,64,67,76,77,78,79,80,83,85,86,95,99,103,110,111,113,117,124,126,131,132,134,139,141,143,147,153,154,155,156,157,164,167,169,175,176,177,179,181,186,188,191,197,199,200,203,204,207,208,209,211,214,217,220,221,225,229,238,241,243,245,247,248,258,259,261,264,268,273,275,276,282,284,287,289,290,295,297,301,303,304,306,309,318,322,323,335,336,337,341,345,349,350,351,352,357,358,362,363,364,365,367,369,371,372,373,374,380,392,395,396,398,399,400,401,403,404,405,406,407,411,412,415,420,424,425,428,429,430,431,433,435,436,437,450,451,453,454,456,458,459,460,463,464,466,468,469,472,473,474,476,477,479,480,481,486,492,493,494,495,496,497,501,505,509,511,512,513,514,516,517,518,519,521,522,525,526,530,531,534,538,540,545,546,547,548,555,558,562,572,574,575,576,577,578,584,586,589,591,592,593,598,601,602,603,604,609,611,613,615,617,621,628,632,638,644,645,646,647,650,654,655,657,658,661,662,664,669,670,671,672,674,681,686,688,695,699,700,703,707,714,715,717,722,724,725,734,736,737,738,744,745,748,749,753,755,757,759,762,763,768,770,774,781,786,789,790,793,796,801,802,804,808,822,825,829,832,834,838,855,859,861,870,887,893,894,897,898,902,909,914,918,920,921,922,923,929,930,934,935,938,939,942,943,945,949,953,954,958,964,965,966,969,973,974,981,982,983,986,1001,1005,1007,1015,1016,1020,1024,1027,1031,1032,1033,1034,1036,1038,1040,1042,1044,1046,1050,1055,1056,1058,1061,1062,1065,1067,1070,1077,1078,1080,1083,1087,1088,1090,1095,1102,1107,1108,1117,1129,1138,1142,1143,1144,1145,1146,1149,1154,1157,1158,1161,1163,1166,1168,1187,1195,1197,1199,1205,1207,1208,1212,1213,1215,1216,1218,1227,1239,1241,1245,1247,1250,1251,1254,1262,1263,1271,1272,1273,1278,1279,1283,1284,1286,1287,1289,1291,1298,1304,1307,1309,1310,1311,1321,1336,1337,1339,1341,1342,1343,1346,1358,1360,1361,1365,1368,1372,1377,1378,1381,1382,1384,1386,1388,1389,1390,1401,1405,1408,1412,1418,1419,1420,1422,1426,1427,1428,1429,1430,1431,1432,1433,1434,1435,1436,1437,1438,1439,1440,1441,1442,1443,1444,1445,1446,1447,1448,1449,1450,1451,1452,1453,1454,1455,1456,1457,1458,1459,1460,1461,1462,1463,1464,1465,1466,1467,1468,1469,1470,1471,1472,1473,1474,1475,1476,1477,1478,1479,1480,1481,1482,1483,1484,1485,1486,1487,1488,1489,1490,1491,1492,1493,1494,1495,1496,1497,1498,1499,1500,1501,1502,1503,1504,1505,1506,1507,1508,1509,1510,1511,1512,1513,1514,1515,1516,1517,1518,1519,1520,1521,1522,1523,1524,1525,1526,1527,1528,1529,1530,1531,1532,1533,1534,1535,1536,1537,1538,1539,1540,1541,1542,1543,1544,1545,1546,1547,1548,1549,1550,1551,1552,1553,1554,1555,1556,1557,1558,1559,1560,1561,1562,1563,1564,1565,1566,1567,1568,1569,1570,1571,1572,1573,1574,1575,1576,1577,1578,1579,1580,1581,1582,1583,1584,1585,1586,1587,1588,1589,1590,1591,1592,1593,1594,1595,1596,1597,1598,1599,1600,1601,1602,1603,1604,1605,1606,1607,1608,1609,1610,1611,1612,1613,1614,1615,1616,1617,1618,1619,1620,1621,1622,1623,1624,1625,1626,1627,1628,1629,1630,1631,1632,1633,1634,1635,1636,1637,1638,1639,1640,1641,1642,1643,1644,1645,1646,1647,1648,1649,1650,1651,1652,1653,1654,1655,1656,1657,1658,1659,1660,1661,1662,1663,1664,1665,1666,1667,1668,1669,1670,1671,1672,1673,1674,1675,1676,1677,1678,1679,1680,1681,1682,1683,1684,1685,1686,1687,1688,1689,1690,1691,1692,1693,1694,1695,1696,1697,1698,1699,1700,1701,1702,1703,1704,1705,1706,1707,1708,1709,1710,1711,1712,1713,1714,1715,1716,1717,1718,1719,1720,1721,1722,1723,1724,1725,1726,1727,1728,1729,1730,1731,1732,1733,1734,1735,1736,1737,1738,1739,1740,1741,1742,1743,1744,1745,1746,1747,1748,1749,1750,1751,1752,1753,1754,1755,1756,1757,1758,1759,1760,1761,1762,1763,1764,1765,1766,1767,1768,1769,1770,1771,1772,1773,1774,1775,1776,1777,1778,1779,1780,1781,1782,1783,1784,1785,1786,1787,1788,1789,1790,1791,1792,1793,1794,1795,1796,1797,1798,1799,1800,1801,1802,1803,1804,1805,1806,1807,1808,1809,1810,1811,1812,1813,1814,1815,1816,1817,1818,1819,1820,1821,1822,1823,1824,1825,1826,1827,1828,1829,1830,1831,1832,1833,1834,1835,1836,1837,1838,1839,1840,1841,1842,1843,1844,1845,1846,1847,1848,1849,1850,1851,1852,1853,1854,1855,1856,1857,1858,1859,1860,1861,1862,1863,1864,1865,1866,1867,1868,1869,1870,1871,1872,1873,1874,1875,1876,1877,1878,1879,1880,1881,1882,1883,1884,1885,1886,1887,1888,1889,1890,1891,1892,1893,1894,1895,1896,1897,1898,1899,1900,1901,1902,1903,1904,1905,1906,1907,1908,1909,1910,1911,1912,1913,1914,1915,1916,1917,1918,1919,1920,1921,1922,1923,1924,1925,1926,1927,1928,1929,1930,1931,1932,1933,1934,1935,1936,1937,1938,1939,1940,1941,1942,1943,1944,1945,1946,1947,1948,1949,1950,1951,1952,1953,1954,1955,1956,1957,1958,1959,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025,2026,2027,2028,2029,2030,2031,2032,2033,2034,2035,2036,2037,2038,2039,2040,2041,2042,2043,2044,2045,2046,2047,2048,2049,2050,2051,2052,2053,2054,2055,2056,2057,2058,2059,2060,2061,2062,2063,2064,2065,2066,2067,2068,2069,2070,2071,2072,2073,2074,2075,2076,2077,2078,2079,2080,2081,2082,2083,2084,2085,2086,2087,2088,2089,2090,2091,2092,2093,2094,2095,2096,2097,2098,2099,2100,2101,2102,2103,2104,2105,2106,2107,2108,2109,2110,2111,2112,2113,2114,2115,2116,2117,2118,2119,2120,2121,2122,2123,2124,2125,2126,2127,2128,2129,2130,2131,2132,2133,2134,2135,2136,2137,2138,2139,2140,2141,2142,2143,2144,2145,2146,2147,2148,2149,2150,2151,2152,2153,2154,2155,2156,2157,2158,2159,2160,2161,2162,2163,2164,2165,2166,2167,2168,2169,2170,2171,2172,2173,2174,2175,2176,2177,2178,2179,2180,2181,2182,2183,2184,2185,2186,2187,2188,2189,2190,2191,2192,2193,2194,2195,2196,2197,2198,2199,2200,2201,2202,2203,2204,2205,2206,2207,2208,2209,2210,2211,2212,2213,2214,2215,2216,2217,2218,2219,2220,2221,2222,2223,2224,2225,2226,2227,2228,2229,2230,2231,2232,2233,2234,2235,2236,2237,2238,2239,2240,2241,2242,2243,2244,2245,2246,2247,2248,2249,2250,2251,2252,2253,2254,2255,2256,2257,2258,2259,2260,2261,2262,2263,2264,2265,2266,2267,2268,2269,2270,2271,2272,2273,2274,2275,2276,2277,2278,2279,2280,2281,2282,2283,2284,2285,2286,2287,2288,2289,2290,2291,2292,2293,2294,2295,2296,2297,2298,2299,2300,2301,2302,2303,2304,2305,2306,2307,2308,2309,2310,2311,2312,2313,2314,2315,2316,2317,2318,2319,2320,2321,2322,2323,2324,2325,2326,2327,2328,2329,2330,2331,2332,2333,2334,2335,2336,2337,2338,2339,2340,2341,2342,2343,2344,2345,2346,2347,2348,2349,2350,2351,2352,2353,2354,2355,2356,2357,2358,2359,2360,2361,2362,2363,2364,2365,2366,2367,2368,2369,2370,2371,2372,2373,2374,2375,2376,2377,2378,2379,2380,2381,2382,2383,2384,2385,2386,2387,2388,2389,2390,2391,2392,2393,2394,2395,2396,2397,2398,2399,2400,2401,2402,2403,2404,2405,2406,2407,2408,2409,2410,2411,2412,2413,2414,2415,2416,2417,2418,2419,2420,2421,2422,2423,2424,2425,2426,2427,2428,2429,2430,2431,2432,2433,2434,2435,2436,2437,2438,2439,2440,2441,2442,2443,2444,2445,2446,2447,2448,2449,2450,2451,2452,2453,2454,2455,2456,2457,2458,2459,2460,2461,2462,2463,2464,2465,2466,2467,2468,2469,2470,2471,2472,2473,2474,2475,2476,2477,2478,2479,2480,2481,2482,2483,2484,2485,2486,2487,2488,2489,2490,2491,2492,2493,2494,2495,2496,2497,2498,2499,2500,2501,2502,2503,2504,2505,2506,2507,2508,2509,2510,2511,2512,2513,2514,2515,2516,2517,2518,2519,2520,2521,2522,2523,2524,2525,2526,2527,2528,2529,2530,2531,2532,2533,2534,2535,2536,2537,2538,2539,2540,2541,2542,2543,2544,2545,2546,2547,2548,2549,2550,2551,2552,2553,2554,2555,2556,2557,2558,2559,2560,2561,2562,2563,2564,2565,2566,2567,2568,2569,2570,2571,2572,2573,2574,2575,2576,2577,2578,2579,2580,2581,2582,2583,2584,2585,2586,2587,2588,2589,2590,2591,2592,2593,2594,2595,2596,2597,2598,2599,2600,2601,2602,2603,2604,2605,2606,2607,2608,2609,2610,2611,2612,2613,2614,2615,2616,2617,2618,2619,2620,2621,2622,2623,2624,2625,2626,2627,2628,2629,2630,2631,2632,2633,2634,2635,2636,2637,2638,2639,2640,2641,2642,2643,2644,2645,2646,2647,2648,2649,2650,2651,2652,2653,2654,2655,2656,2657,2658,2659,2660,2661,2662,2663,2664,2665,2666,2667,2668,2669,2670,2671,2672,2673,2674,2675,2676,2677,2678,2679,2680,2681,2682,2683,2684,2685,2686,2687,2688,2689,2690,2691,2692,2693,2694,2695,2696,2697,2698,2699,2700,2701,2702,2703,2704,2705,2706,2707,2708,2709,2710,2711,2712,2713,2714,2715,2716,2717,2718,2719,2720,2721,2722,2723,2724,2725,2726,2727,2728,2729,2730,2731,2732,2733,2734,2735,2736,2737,2738,2739,2740,2741,2742,2743,2744,2745,2746,2747,2748,2749,2750,2751,2752,2753,2754,2755,2756,2757,2758,2759,2760,2761,2762,2763,2764,2765,2766,2767,2768,2769,2770,2771,2772,2773,2774,2775,2776,2777,2778,2779,2780,2781,2782,2783,2784,2785,2786,2787,2788,2789,2790,2791,2792,2793,2794,2795,2796,2797,2798,2799,2800,2801,2802,2803,2804,2805,2806,2807,2808,2809,2810,2811,2812,2813,2814,2815,2816,2817,2818,2819,2820,2821,2822,2823,2824,2825,2826,2827,2828,2829,2830,2831,2832,2833,2834,2835,2836,2837,2838,2839,2840,2841,2842,2843,2844,2845,2846,2847,2848,2849,2850,2851,2852,2853,2854,2855,2856,2857,2858,2859,2860,2861,2862,2863,2864,2865,2866,2867,2868,2869,2870,2871,2872,2873,2874,2875,2876,2877,2878,2879,2880,2881,2882,2883,2884,2885,2886,2887,2888,2889,2890,2891,2892,2893,2894,2895,2896,2897,2898,2899,2900,2901,2902,2903,2904,2905,2906,2907,2908,2909,2910,2911,2912,2913,2914,2915,2916,2917,2918,2919,2920,2921,2922,2923,2924,2925,2926,2927,2928,2929,2930,2931,2932,2933,2934,2935,2936,2937,2938,2939,2940,2941,2942,2943,2944,2945,2946,2947,2948,2949,2950,2951,2952,2953,2954,2955,2956,2957,2958,2959,2960,2961,2962,2963,2964,2965,2966,2967,2968,2969,2970,2971,2972,2973,2974,2975,2976,2977,2978,2979,2980,2981,2982,2983,2984,2985,2986,2987,2988,2989,2990,2991,2992,2993,2994,2995,2996,2997,2998,2999,3000,3001,3002,3003,3004,3005,3006,3007,3008,3009,3010,3011,3012,3013,3014,3015,3016,3017,3018,3019,3020,3021,3022,3023,3024,3025,3026,3027,3028,3029,3030,3031,3032,3033,3034,3035,3036,3037,3038,3039,3040,3041,3042,3043,3044,3045,3046,3047,3048,3049,3050,3051,3052,3053,3054,3055,3056,3057,3058,3059,3060,3061,3062,3063,3064,3065,3066,3067,3068,3069,3070,3071,3072,3073,3074,3075,3076,3077,3078,3079,3080,3081,3082,3083,3084,3085,3086,3087,3088,3089,3090,3091,3092,3093,3094,3095,3096,3097,3098,3099,3100,3101,3102,3103,3104,3105,3106,3107,3108,3109,3110,3111,3112,3113,3114,3115,3116,3117,3118,3119,3120,3121,3122,3123,3124,3125,3126,3127,3128,3129,3130,3131,3132,3133,3134,3135,3136,3137,3138,3139,3140,3141,3142,3143,3144,3145,3146,3147,3148,3149,3150,3151,3152,3153,3154,3155,3156,3157,3158,3159,3160,3161,3162,3163,3164,3165,3166,3167,3168,3169,3170,3171,3172,3173,3174,3175,3176,3177,3178,3179,3180,3181,3182,3183,3184,3185,3186,3187,3188,3189,3190,3191,3192,3193,3194,3195,3196,3197,3198,3199,3200,3201,3202,3203,3204,3205,3206,3207,3208,3209,3210,3211,3212,3213,3214,3215,3216,3217,3218,3219,3220,3221,3222,3223,3224,3225,3226,3227,3228,3229,3230,3231,3232,3233,3234,3235,3236,3237,3238,3239,3240,3241,3242,3243,3244,3245,3246,3247,3248,3249,3250,3251,3252,3253,3254,3255,3256,3257,3258,3259,3260,3261,3262,3263,3264,3265,3266,3267,3268,3269,3270,3271,3272,3273,3274,3275,3276,3277,3278,3279,3280,3281,3282,3283,3284,3285,3286,3287,3288,3289,3290,3291,3292,3293,3294,3295,3296,3297,3298,3299,3300,3301,3302,3303,3304,3305,3306,3307,3308,3309,3310,3311,3312,3313,3314,3315,3316,3317,3318,3319,3320,3321,3322,3323,3324,3325,3326,3327,3328,3329,3330,3331,3332,3333,3334,3335,3336,3337,3338,3339,3340,3341,3342,3343,3344,3345,3346,3347,3348,3349,3350,3351,3352,3353,3354,3355,3356,3357,3358,3359,3360,3361,3362,3363,3364,3365,3366,3367,3368,3369,3370,3371,3372,3373,3374,3375,3376,3377,3378,3379,3380,3381,3382,3383,3384,3385,3386,3387,3388,3389,3390,3391,3392,3393,3394,3395,3396,3397,3398,3399,3400,3401,3402,3403,3404,3405,3406,3407,3408,3409,3410,3411,3412,3413,3414,3415,3416,3417,3418,3419,3420,3421,3422,3423,3424,3425,3426,3427,3428,3429,3430,3431,3432,3433,3434,3435,3436,3437,3438,3439,3440,3441,3442,3443,3444,3445,3446,3447,3448,3449,3450,3451,3452,3453,3454,3455,3456,3457,3458,3459,3460,3461,3462,3463,3464,3465,3466,3467,3468,3469,3470,3471,3472,3473,3474,3475,3476,3477,3478,3479,3480,3481,3482,3483,3484,3485,3486,3487,3488,3489,3490,3491,3492,3493,3494,3495,3496,3497,3498,3499,3500,3501,3502,3503,3504,3505,3506,3507,3508,3509,3510,3511,3512,3513,3514,3515,3516,3517,3518,3519,3520,3521,3522,3523,3524,3525,3526,3527,3528,3529,3530,3531,3532,3533,3534,3535,3536,3537,3538,3539,3540,3541,3542,3543,3544,3545,3546,3547,3548,3549,3550,3551,3552,3553,3554,3555,3556,3557,3558,3559,3560,3561,3562,3563,3564,3565,3566,3567,3568,3569,3570,3571,3572,3573,3574,3575,3576,3577,3578,3579,3580,3581,3582,3583,3584,3585,3586,3587,3588,3589,3590,3591,3592,3593,3594,3595,3596,3597,3598,3599,3600,3601,3602,3603,3604,3605,3606,3607,3608,3609,3610,3611,3612,3613,3614,3615,3616,3617,3618,3619,3620,3621,3622,3623,3624,3625,3626,3627,3628,3629,3630,3631,3632,3633,3634,3635,3636,3637,3638,3639,3640,3641,3642,3643,3644,3645,3646,3647,3648,3649,3650,3651,3652,3653,3654,3655,3656,3657,3658,3659,3660,3661,3662,3663,3664,3665,3666,3667,3668,3669,3670,3671,3672,3673,3674,3675,3676,3677,3678,3679,3680,3681,3682,3683,3684,3685,3686,3687,3688,3689,3690,3691,3692,3693,3694,3695,3696,3697,3698,3699,3700,3701,3702,3703,3704,3705,3706,3707,3708,3709,3710,3711,3712,3713,3714,3715,3716,3717,3718,3719,3720,3721,3722,3723,3724,3725,3726,3727,3728,3729,3730,3731,3732,3733,3734,3735,3736,3737,3738,3739,3740,3741,3742,3743,3744,3745,3746,3747,3748,3749,3750,3751,3752,3753,3754,3755,3756,3757,3758,3759,3760,3761,3762,3763,3764,3765,3766,3767,3768,3769,3770,3771,3772,3773,3774,3775,3776,3777,3778,3779,3780,3781,3782,3783,3784,3785,3786,3787,3788,3789,3790,3791,3792,3793,3794,3795,3796,3797,3798,3799,3800,3801,3802,3803,3804,3805,3806,3807,3808,3809,3810,3811,3812,3813,3814,3815,3816,3817,3818,3819,3820,3821,3822,3823,3824,3825,3826,3827,3828,3829,3830,3831,3832,3833,3834,3835,3836,3837,3838,3839,3840,3841,3842,3843,3844,3845,3846,3847,3848,3849,3850,3851,3852,3853,3854,3855,3856,3857,3858,3859,3860,3861,3862,3863,3864,3865,3866,3867,3868,3869,3870,3871,3872,3873,3874,3875,3876,3877,3878,3879,3880,3881,3882,3883,3884,3885,3886,3887,3888,3889,3890,3891,3892,3893,3894,3895,3896,3897,3898,3899,3900,3901,3902,3903,3904,3905,3906,3907,3908,3909,3910,3911,3912,3913,3914,3915,3916,3917,3918,3919,3920,3921,3922,3923,3924,3925,3926,3927,3928,3929,3930,3931,3932,3933,3934,3935,3936,3937,3938,3939,3940,3941,3942,3943,3944,3945,3946,3947,3948,3949,3950,3951,3952,3953,3954,3955,3956,3957,3958,3959,3960,3961,3962,3963,3964,3965,3966,3967,3968,3969,3970,3971,3972,3973,3974,3975,3976,3977,3978,3979,3980,3981,3982,3983,3984,3985,3986,3987,3988,3989,3990,3991,3992,3993,3994,3995,3996,3997,3998,3999,4000,4001,4002,4003,4004,4005,4006,4007,4008,4009,4010,4011,4012,4013,4014,4015,4016,4017,4018,4019,4020,4021,4022,4023,4024,4025,4026,4027,4028,4029,4030,4031,4032,4033,4034,4035,4036,4037,4038,4039,4040,4041,4042,4043,4044,4045,4046,4047,4048,4049,4050,4051,4052,4053,4054,4055,4056,4057,4058,4059,4060,4061,4062,4063,4064,4065,4066,4067,4068,4069,4070,4071,4072,4073,4074,4075,4076,4077,4078,4079,4080,4081,4082,4083,4084,4085,4086,4087,4088,4089,4090,4091,4092,4093,4094,4095,4096,4097,4098,4099,4100,4101,4102,4103,4104,4105,4106,4107,4108,4109,4110,4111,4112,4113,4114,4115,4116,4117,4118,4119,4120,4121,4122,4123,4124,4125,4126,4127,4128,4129,4130,4131,4132,4133,4134,4135,4136,4137,4138,4139,4140,4141,4142,4143,4144,4145,4146,4147,4148,4149,4150,4151,4152,4153,4154,4155,4156,4157,4158,4159,4160,4161,4162,4163,4164,4165,4166,4167,4168,4169,4170,4171,4172,4173,4174,4175,4176,4177,4178,4179,4180,4181,4182,4183,4184,4185,4186,4187,4188,4189,4190,4191,4192,4193,4194,4195,4196,4197,4198,4199,4200,4201,4202,4203,4204,4205,4206,4207,4208,4209,4210,4211,4212,4213,4214,4215,4216,4217,4218,4219,4220,4221,4222,4223,4224,4225,4226,4227,4228,4229,4230,4231,4232,4233,4234,4235,4236,4237,4238,4239,4240,4241,4242,4243,4244,4245,4246,4247,4248,4249,4250,4251,4252,4253,4254,4255,4256,4257,4258,4259,4260,4261,4262,4263,4264,4265,4266,4267,4268,4269,4270,4271,4272,4273,4274,4275,4276,4277,4278,4279,4280,4281,4282,4283,4284,4285,4286,4287,4288,4289,4290,4291,4292,4293,4294,4295,4296,4297,4298,4299,4300,4301,4302,4303,4304,4305,4306,4307,4308,4309,4310,4311,4312,4313,4314,4315,4316,4317,4318,4319,4320,4321,4322,4323,4324,4325,4326,4327,4328,4329,4330,4331,4332,4333,4334,4335,4336,4337,4338,4339,4340,4341,4342,4343,4344,4345,4346,4347,4348,4349,4350,4351,4352,4353,4354,4355,4356,4357,4358,4359,4360,4361,4362,4363,4364,4365,4366,4367,4368,4369,4370,4371,4372,4373,4374,4375,4376,4377,4378,4379,4380,4381,4382,4383,4384,4385,4386,4387,4388,4389,4390,4391,4392,4393,4394,4395,4396,4397,4398,4399,4400,4401,4402,4403,4404,4405,4406,4407,4408,4409,4410,4411,4412,4413,4414,4415,4416,4417,4418,4419,4420,4421,4422,4423,4424,4425,4426,4427,4428,4429,4430,4431,4432,4433,4434,4435,4436,4437,4438,4439,4440,4441,4442,4443,4444,4445,4446,4447,4448,4449,4450,4451,4452,4453,4454,4455,4456,4457,4458,4459,4460,4461,4462,4463,4464,4465,4466,4467,4468,4469,4470,4471,4472,4473,4474,4475,4476,4477,4478,4479,4480,4481,4482,4483,4484,4485,4486,4487,4488,4489,4490,4491,4492,4493,4494,4495,4496,4497,4498,4499,4500,4501,4502,4503,4504,4505,4506,4507,4508,4509,4510,4511,4512,4513,4514,4515,4516,4517,4518,4519,4520,4521,4522,4523,4524,4525,4526,4527,4528,4529,4530,4531,4532,4533,4534,4535,4536,4537,4538,4539,4540,4541,4542,4543,4544,4545,4546,4547,4548,4549,4550,4551,4552,4553,4554,4555,4556,4557,4558,4559,4560,4561,4562,4563,4564,4565,4566,4567,4568,4569,4570,4571,4572,4573,4574,4575,4576,4577,4578,4579,4580,4581,4582,4583,4584,4585,4586,4587,4588,4589,4590,4591,4592,4593,4594,4595,4596,4597,4598,4599,4600,4601,4602,4603,4604,4605,4606,4607,4608,4609,4610,4611,4612,4613,4614,4615,4616,4617,4618,4619,4620,4621,4622,4623,4624,4625,4626,4627,4628,4629,4630,4631,4632,4633,4634,4635,4636,4637,4638,4639,4640,4641,4642,4643,4644,4645,4646,4647,4648,4649,4650,4651,4652,4653,4654,4655,4656,4657,4658,4659,4660,4661,4662,4663,4664,4665,4666,4667,4668,4669,4670,4671,4672,4673,4674,4675,4676,4677,4678,4679,4680,4681,4682,4683,4684,4685,4686,4687,4688,4689,4690,4691,4692,4693,4694,4695,4696,4697,4698,4699,4700,4701,4702,4703,4704,4705,4706,4707,4708,4709,4710,4711,4712,4713,4714,4715,4716,4717,4718,4719,4720,4721,4722,4723,4724,4725,4726,4727,4728,4729,4730,4731,4732,4733,4734,4735,4736,4737,4738,4739,4740,4741,4742,4743,4744,4745,4746,4747,4748,4749,4750,4751,4752,4753,4754,4755,4756,4757,4758,4759,4760,4761,4762,4763,4764,4765,4766,4767,4768,4769,4770,4771,4772,4773,4774,4775,4776,4777,4778,4779,4780,4781,4782,4783,4784,4785,4786,4787,4788,4789,4790,4791,4792,4793,4794,4795,4796,4797,4798,4799,4800,4801,4802,4803,4804,4805,4806,4807,4808,4809,4810,4811,4812,4813,4814,4815,4816,4817,4818,4819,4820,4821,4822,4823,4824,4825,4826,4827,4828,4829,4830,4831,4832,4833,4834,4835,4836,4837,4838,4839,4840,4841,4842,4843,4844,4845,4846,4847,4848,4849,4850,4851,4852,4853,4854,4855,4856,4857,4858,4859,4860,4861,4862,4863,4864,4865,4866,4867,4868,4869,4870,4871,4872,4873,4874,4875,4876,4877,4878,4879,4880,4881,4882,4883,4884,4885,4886,4887,4888,4889,4890,4891,4892,4893,4894,4895,4896,4897,4898,4899,4900,4901,4902,4903,4904,4905,4906,4907,4908,4909,4910,4911,4912,4913,4914,4915,4916,4917,4918,4919,4920,4921,4922,4923,4924,4925,4926,4927,4928,4929,4930,4931,4932,4933,4934,4935,4936,4937,4938,4939,4940,4941,4942,4943,4944,4945,4946,4947,4948,4949,4950,4951,4952,4953,4954,4955,4956,4957,4958,4959,4960,4961,4962,4963,4964,4965,4966,4967,4968,4969,4970,4971,4972,4973,4974,4975,4976,4977,4978,4979,4980,4981,4982,4983,4984,4985,4986,4987,4988,4989,4990,4991,4992,4993,4994,4995,4996,4997,4998,4999,5000,5001,5002,5003,5004,5005,5006,5007,5008,5009,5010,5011,5012,5013,5014,5015,5016,5017,501

         Date                                                              \
            A          AA        AAIC         AAP         AAT          AB
0  2002-01-02  2002-01-02  2002-01-02  2002-01-02  2011-01-13  2002-01-02
1  2002-01-03  2002-01-03  2002-01-03  2002-01-03  2011-01-14  2002-01-03
2  2002-01-04  2002-01-04  2002-01-04  2002-01-04  2011-01-18  2002-01-04
3  2002-01-07  2002-01-07  2002-01-07  2002-01-07  2011-01-19  2002-01-07
4  2002-01-08  2002-01-08  2002-01-08  2002-01-08  2011-01-20  2002-01-08

                                                   ...    Volume              \
          ABB         ABC        ABEV         ABG  ...         X         XOM
0  2002-01-02  2002-01-02  2002-01-02  2002-03-21  ...  835200.0  11261900.0
1  2002-01-03  2002-01-03  2002-01-03  2002-03-22  ...  702500.0  10128200.0
2  2002-01-04  2002-01-04  2002-01-04  2002-03-25  ...  731700.0   8052100.0
3  2002-01-07  2002-01-07  2002-01-07  2002-03-26  ...  403700.0   9945700.0
4  2002-01-08  2002-01-08  2002-01-08  2002-03-27  ...  473500.0   8278000.0

                                                                          \
      XOXO      XPO       XRM        XRX       XYL        YUM        ZBH
0   1000.0  36793.0  196950.0  3233074.0  396800.0  6378570.0   818850.0
1   2300.0   7228.0   77500.0  1874275.0  402600.0  5461066.0  1058016.0
2  33500.0  20963.0    7515.0  3601721.0  583400.0  8121214.0   810198.0
3    100.0   5494.0    5250.0  6261295.0  423500.0  8309834.0   695044.0
4    500.0  20167.0    9465.0  2192865.0  722200.0  8023288.0   898160.0


       ZTR
0  22225.0
1  17825.0
2  18925.0
3  31700.0
4  20450.0

[5 rows x 9975 columns]

In [3]:
df = stock_data.copy()

### Size of data

In [12]:
num_companies = len(df.filter(regex='Close').columns.tolist())
print(f'20 years of daily data from {num_companies} companies')

20 years of daily data from 1429 companies

### Missing values

In [13]:
# Top 10 tickers with missing values 
missing_values = df.isnull().any().sum()
print(f'Number of tickers with missing values: {missing_values}\
      \nTop 10 tickers with missing values:')
df.isnull().sum().sort_values(ascending=False)[:10]

Number of tickers with missing values: 477
Top 10 tickers with missing values:

CIVI_Close    2508
VTLE_Close    2508
CPRI_Close    2508
BUI_Close     2493
APTV_Close    2489
VAC_Close     2482
TTP_Close     2474
GNE_Close     2473
UI_Close      2465
XYL_Close     2464
dtype: int64

### MACD

In [25]:
macd_positions = MACD(df) 
positions = macd_positions.get_entry_exit_signal()
positions

,AAIC_Entry,AAIC_Exit,AAP_Entry,AAP_Exit,AA_Entry,AA_Exit,ABB_Entry,ABB_Exit,ABC_Entry,ABC_Exit,...,XRX_Entry,XRX_Exit,X_Entry,X_Exit,YUM_Entry,YUM_Exit,ZBH_Entry,ZBH_Exit,ZTR_Entry,ZTR_Exit
Date,,,,,,,,,,,,,,,,,,,,,
2002-01-01,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
2002-01-02,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
2002-01-03,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
2002-01-04,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
2002-01-05,nan,exit_long,nan,exit_short,nan,exit_long,nan,exit_long,nan,exit_short,...,nan,exit_short,nan,exit_long,nan,exit_long,nan,exit_short,nan,exit_long
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-12-27,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
2022-12-28,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
2022-12-29,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
2022-12-30,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
2022-12-31,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan

In [37]:
positions['X_Entry'].unique()

array(['nan'], dtype=object)

In [6]:
macd_positions = pd.read_csv('../data/intermediate/macd_positions.csv')
macd_positions.drop(['Unnamed: 0'], axis=1,inplace=True)
macd_positions.head()

C:\Users\User\AppData\Local\Temp\ipykernel_2436\1543702493.py:1: DtypeWarning: Columns (1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,299,300,301,302,303,304,305,306,307,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,335,336,337,338,339,340,341,342,343,344,345,346,347,348,349,350,351,352,353,354,355,356,357,358,359,360,361,362,363,364,365,366,367,368,369,370,371,372,373,374,375,376,377,378,379,380,381,382,383,384,385,386,387,388,389,390,391,392,393,394,395,396,397,398,399,400,401,402,403,404,405,406,407,408,409,410,411,412,413,414,415,416,417,418,419,420,421,422,423,424,425,426,427,428,429,430,431,432,433,434,435,436,437,438,439,440,441,442,443,444,445,446,447,448,449,450,451,452,453,454,455,456,457,458,459,460,461,462,463,464,465,466,467,468,469,470,471,472,473,474,475,476,477,478,479,480,481,482,483,484,485,486,487,488,489,490,491,492,493,494,495,496,497,498,499,500,501,502,503,504,505,506,507,508,509,510,511,512,513,514,515,516,517,518,519,520,521,522,523,524,525,526,527,528,529,530,531,532,533,534,535,536,537,538,539,540,541,542,543,544,545,546,547,548,549,550,551,552,553,554,555,556,557,558,559,560,561,562,563,564,565,566,567,568,569,570,571,572,573,574,575,576,577,578,579,580,581,582,583,584,585,586,587,588,589,590,591,592,593,594,595,596,597,598,599,600,601,602,603,604,605,606,607,608,609,610,611,612,613,614,615,616,617,618,619,620,621,622,623,624,625,626,627,628,629,630,631,632,633,634,635,636,637,638,639,640,641,642,643,644,645,646,647,648,649,650,651,652,653,654,655,656,657,658,659,660,661,662,663,664,665,666,667,668,669,670,671,672,673,674,675,676,677,678,679,680,681,682,683,684,685,686,687,688,689,690,691,692,693,694,695,696,697,698,699,700,701,702,703,704,705,706,707,708,709,710,711,712,713,714,715,716,717,718,719,720,721,722,723,724,725,726,727,728,729,730,731,732,733,734,735,736,737,738,739,740,741,742,743,744,745,746,747,748,749,750,751,752,753,754,755,756,760,761,762,763,764,765,766,767,768,769,770,771,772,773,774,775,776,777,778,779,780,781,782,783,784,785,786,787,788,789,790,791,792,793,794,795,796,797,798,799,800,801,802,803,804,805,806,807,808,809,810,811,812,813,814,815,816,817,818,819,820,821,822,823,824,825,826,827,828,829,830,831,832,833,834,835,836,837,838,839,840,841,842,843,844,845,846,847,848,849,850,851,852,853,854,855,856,857,858,859,860,861,862,863,864,865,866,867,868,869,870,871,872,873,874,875,876,877,878,879,880,881,882,883,884,885,886,887,888,889,890,891,892,893,894,895,896,897,898,899,900,901,902,903,904,905,906,907,908,909,910,911,912,913,914,915,916,917,918,919,920,921,922,923,924,925,926,927,928,929,930,934,935,936,937,938,939,940,941,942,943,944,945,946,947,948,949,950,951,952,953,954,955,956,957,958,959,960,961,962,963,964,965,966,967,968,969,970,971,972,973,974,975,976,977,978,979,980,981,982,983,984,985,986,987,988,989,990,991,992,993,994,995,996,997,998,999,1000,1001,1002,1003,1004,1005,1006,1007,1008,1009,1010,1011,1012,1013,1014,1015,1016,1017,1018,1019,1020,1021,1022,1023,1024,1025,1026,1027,1028,1029,1030,1031,1032,1033,1034,1035,1036,1037,1038,1039,1040,1041,1042,1043,1044,1045,1046,1047,1048,1049,1050,1051,1052,1053,1054,1055,1056,1057,1058,1059,1060,1061,1062,1063,1064,1065,1066,1067,1068,1069,1070,1071,1072,1073,1074,1075,1076,1077,1078,1079,1080,1081,1082,1083,1084,1085,1086,1087,1088,1089,1090,1091,1092,1093,1094,1095,1096,1097,1098,1099,1100,1101,1102,1103,1104,1105,1106,1107,1108,1109,1110,1111,1112,1113,1114,1115,1116,1117,1118,1119,1120,1121,1122,1123,1124,1125,1126,1127,1128,1129,1130,1131,1132,1133,1134,1135,1136,1137,1138,1139,1140,1141,1142,1143,1144,1145,1146,1147,1148,1149,1150,1151,1152,1153,1154,1155,1156,1157,1158,1159,1160,1161,1162,1163,1164,1165,1166,1167,1168,1169,1170,1171,1172,1173,1174,1175,1176,1177,1178,1179,1180,1181,1182,1183,1184,1185,1186,1187,1188,1189,1190,1191,1192,1193,1194,1195,1196,1197,1198,1199,1200,1201,1202,1203,1204,1205,1206,1207,1208,1209,1210,1211,1212,1213,1214,1215,1216,1217,1218,1219,1220,1221,1222,1223,1224,1225,1226,1227,1228,1229,1230,1231,1232,1233,1234,1235,1236,1237,1238,1239,1240,1241,1242,1243,1244,1245,1246,1247,1248,1249,1250,1251,1252,1253,1254,1255,1256,1257,1258,1259,1260,1261,1262,1263,1264,1265,1266,1267,1268,1269,1273,1274,1275,1276,1277,1278,1279,1280,1281,1282,1283,1284,1285,1286,1287,1288,1289,1290,1291,1292,1293,1294,1295,1296,1297,1298,1299,1300,1301,1302,1303,1304,1305,1306,1307,1308,1309,1310,1311,1312,1313,1314,1315,1316,1317,1318,1319,1320,1321,1322,1323,1324,1325,1326,1327,1328,1329,1330,1331,1332,1333,1334,1335,1336,1337,1338,1339,1340,1341,1342,1343,1344,1345,1346,1347,1348,1349,1350,1351,1352,1353,1354,1355,1356,1357,1358,1359,1360,1361,1362,1363,1364,1365,1366,1367,1368,1369,1370,1371,1372,1373,1374,1375,1376,1377,1378,1379,1380,1381,1382,1383,1384,1385,1386,1387,1388,1389,1390,1391,1392,1393,1394,1395,1396,1397,1398,1399,1400,1401,1402,1403,1404,1405,1406,1407,1408,1409,1410,1411,1412,1413,1414,1415,1416,1417,1418,1419,1420,1421,1422,1423,1424,1425,1426,1427,1428,1429,1430,1431,1432,1433,1434,1435,1436,1437,1438,1439,1440,1441,1442,1443,1444,1445,1446,1447,1448,1449,1450,1451,1452,1453,1454,1455,1456,1457,1458,1459,1460,1461,1462,1463,1464,1465,1466,1467,1468,1469,1470,1471,1472,1473,1474,1475,1476,1477,1478,1479,1480,1481,1482,1483,1484,1485,1486,1487,1488,1489,1490,1491,1492,1493,1494,1495,1496,1497,1498,1499,1500,1501,1502,1503,1504,1505,1506,1507,1508,1509,1510,1511,1512,1513,1514,1515,1516,1517,1518,1519,1520,1521,1522,1523,1524,1525,1526,1527,1528,1529,1530,1531,1532,1533,1534,1535,1536,1537,1538,1539,1540,1541,1542,1543,1544,1545,1546,1547,1548,1549,1550,1551,1552,1553,1554,1555,1556,1557,1558,1559,1560,1561,1562,1563,1564,1565,1566,1567,1568,1569,1570,1571,1572,1573,1574,1575,1576,1577,1578,1579,1580,1581,1582,1583,1584,1585,1586,1587,1588,1589,1590,1591,1592,1593,1594,1595,1596,1597,1598,1599,1600,1601,1602,1603,1604,1605,1606,1607,1608,1609,1610,1611,1612,1613,1614,1615,1616,1617,1618,1619,1620,1621,1622,1623,1624,1625,1626,1627,1628,1629,1630,1631,1632,1633,1634,1635,1636,1637,1638,1639,1640,1641,1642,1643,1644,1645,1646,1647,1648,1649,1650,1651,1652,1653,1654,1655,1656,1657,1658,1659,1660,1661,1662,1663,1664,1665,1666,1667,1668,1669,1670,1671,1672,1673,1674,1675,1676,1677,1678,1679,1680,1681,1682,1683,1684,1685,1686,1687,1688,1689,1690,1691,1692,1693,1694,1695,1696,1697,1698,1699,1700,1701,1702,1703,1704,1705,1706,1707,1708,1709,1710,1711,1712,1713,1714,1715,1716,1717,1718,1719,1720,1721,1722,1723,1724,1725,1726,1727,1728,1729,1730,1731,1732,1733,1734,1735,1736,1737,1738,1739,1740,1741,1742,1743,1744,1745,1746,1747,1748,1749,1750,1751,1752,1753,1754,1755,1756,1757,1758,1759,1760,1761,1762,1763,1764,1765,1766,1767,1768,1769,1770,1771,1772,1773,1774,1775,1776,1777,1778,1779,1780,1781,1782,1783,1784,1785,1786,1787,1788,1789,1790,1791,1792,1793,1794,1795,1796,1797,1798,1799,1800,1801,1802,1803,1804,1805,1806,1807,1808,1809,1810,1811,1812,1813,1814,1815,1816,1817,1818,1819,1820,1821,1822,1823,1824,1825,1826,1827,1828,1829,1830,1831,1832,1833,1834,1835,1836,1837,1838,1839,1840,1841,1842,1843,1844,1845,1846,1847,1848,1849,1850,1851,1852,1853,1854,1855,1856,1857,1858,1859,1860,1861,1862,1863,1864,1865,1866,1867,1868,1869,1870,1871,1872,1873,1874,1875,1876,1877,1878,1879,1880,1881,1882,1883,1884,1885,1886,1887,1888,1889,1890,1891,1892,1893,1894,1895,1896,1897,1898,1899,1900,1901,1902,1903,1904,1905,1906,1907,1908,1909,1910,1911,1912,1913,1914,1915,1916,1917,1918,1919,1920,1921,1922,1923,1924,1925,1926,1927,1928,1929,1930,1931,1932,1933,1934,1935,1936,1937,1938,1939,1940,1941,1942,1943,1944,1945,1946,1947,1948,1949,1950,1951,1952,1953,1954,1955,1956,1957,1958,1959,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025,2026,2027,2028,2029,2030,2031,2032,2033,2034,2035,2036,2037,2038,2039,2040,2041,2042,2043,2044,2045,2046,2047,2048,2049,2050,2051,2052,2053,2054,2055,2056,2057,2058,2059,2060,2061,2062,2063,2064,2065,2066,2067,2068,2069,2070,2071,2072,2073,2074,2075,2076,2077,2078,2079,2080,2081,2082,2083,2084,2085,2086,2087,2088,2089,2090,2091,2092,2093,2094,2095,2096,2097,2098,2099,2100,2101,2102,2103,2104,2105,2106,2107,2108,2109,2110,2111,2112,2113,2114,2115,2116,2117,2118,2119,2120,2121,2122,2123,2124,2125,2126,2127,2128,2129,2130,2131,2132,2133,2134,2135,2136,2137,2138,2139,2140,2141,2142,2143,2144,2145,2146,2147,2148,2149,2150,2151,2152,2153,2154,2155,2156,2157,2158,2159,2160,2161,2162,2163,2164,2165,2166,2167,2168,2169,2170,2171,2172,2173,2174,2175,2176,2177,2178,2179,2180,2181,2182,2183,2184,2185,2186,2187,2188,2189,2190,2191,2192,2193,2194,2195,2196,2197,2198,2199,2200,2201,2202,2203,2204,2205,2206,2207,2208,2209,2210,2211,2212,2213,2214,2215,2216,2217,2218,2219,2220,2221,2222,2223,2224,2225,2226,2227,2228,2229,2230,2231,2232,2233,2234,2235,2236,2237,2238,2239,2240,2241,2242,2243,2244,2245,2246,2247,2248,2249,2250,2251,2252,2253,2254,2255,2256,2257,2258,2259,2260,2261,2262,2263,2264,2265,2266,2267,2268,2269,2270,2271,2272,2273,2274,2275,2276,2277,2278,2279,2280,2281,2282,2283,2284,2285,2286,2287,2288,2289,2290,2291,2292,2293,2294,2295,2296,2297,2298,2299,2300,2301,2302,2303,2304,2305,2306,2307,2308,2309,2310,2311,2312,2313,2314,2315,2316,2317,2318,2319,2320,2321,2322,2323,2324,2325,2326,2327,2328,2329,2330,2331,2332,2333,2334,2335,2336,2337,2338,2339,2340,2341,2342,2343,2344,2345,2346,2347,2348,2349,2350,2351,2352,2353,2354,2355,2356,2357,2358,2359,2360,2361,2362,2363,2364,2365,2366,2367,2368,2369,2370,2371,2372,2373,2374,2375,2376,2377,2378,2379,2380,2381,2382,2383,2384,2385,2386,2387,2388,2389,2390,2391,2392,2393,2394,2395,2396,2397,2398,2399,2400,2401,2402,2403,2404,2405,2406,2407,2408,2409,2410,2411,2412,2416,2417,2418,2419,2420,2421,2422,2423,2424,2425,2426,2427,2428,2429,2430,2431,2432,2433,2434,2435,2436,2437,2438,2439,2440,2441,2442,2443,2444,2445,2446,2447,2448,2449,2450,2451,2452,2453,2454,2455,2456,2457,2458,2459,2460,2461,2462,2463,2464,2465,2466,2467,2468,2469,2470,2471,2472,2476,2477,2478,2479,2480,2481,2482,2483,2484,2485,2486,2487,2488,2489,2490,2491,2492,2493,2494,2495,2496,2497,2498,2499,2500,2501,2502,2503,2504,2505,2509,2510,2511,2512,2513,2514,2515,2516,2517,2518,2519,2520,2521,2522,2523,2524,2525,2526,2527,2528,2529,2530,2531,2532,2533,2534,2535,2536,2537,2538,2539,2540,2541,2542,2543,2544,2545,2546,2547,2548,2549,2550,2551,2552,2553,2554,2555,2556,2557,2558,2559,2560,2561,2562,2563,2564,2565,2566,2567,2568,2569,2570,2571,2572,2573,2574,2578,2579,2580,2581,2582,2583,2584,2585,2586,2587,2588,2589,2590,2591,2592,2593,2594,2595,2596,2597,2598,2599,2600,2601,2602,2603,2604,2605,2606,2607,2608,2609,2610,2611,2612,2613,2614,2615,2616,2617,2618,2619,2620,2621,2622,2623,2624,2625,2626,2627,2628,2629,2630,2631,2632,2633,2634,2635,2636,2637,2638,2639,2640,2641,2642,2643,2644,2645,2646,2647,2648,2649,2650,2651,2652,2653,2654,2655,2656,2657,2658,2659,2660,2661,2662,2663,2664,2665,2666,2667,2668,2669,2670,2671,2672,2673,2674,2675,2676,2677,2678,2679,2680,2681,2682,2683,2684,2685,2686,2687,2688,2689,2690,2691,2692,2693,2694,2695,2696,2697,2698,2699,2700,2701,2702,2703,2704,2705,2706,2707,2708,2709,2710,2711,2712,2713,2714,2715,2716,2717,2718,2719,2720,2721,2722,2723,2724,2725,2726,2727,2728,2729,2730,2734,2735,2736,2737,2738,2739,2740,2741,2742,2743,2744,2745,2746,2747,2748,2749,2750,2751,2752,2753,2754,2755,2756,2757,2758,2759,2760,2761,2762,2763,2764,2765,2766,2767,2768,2769,2770,2771,2772,2776,2777,2778,2779,2780,2781,2782,2783,2784,2785,2786,2787,2788,2789,2790,2791,2792,2793,2794,2795,2796,2797,2798,2799,2800,2801,2802,2803,2804,2805,2806,2807,2808,2809,2810,2811,2812,2813,2814,2815,2816,2817,2818,2819,2820,2824,2825,2826,2827,2828,2829,2830,2831,2832,2833,2834,2835,2836,2837,2838,2839,2840,2841,2842,2843,2844,2845,2846,2847,2848,2849,2850,2851,2852,2853,2854,2855,2856,2857,2858,2859,2860,2861,2862,2863,2864,2865,2866,2867,2868,2869,2870,2871,2872,2873,2874,2875,2876,2877,2878,2879,2880,2881,2882,2883,2884,2885,2886,2887,2888,2889,2890,2891,2892,2893,2894,2895,2896,2897,2898,2899,2900,2901,2902,2903,2904,2905,2906,2907,2908,2909,2910,2911,2912,2913,2914,2915,2916,2917,2918,2919,2920,2921,2922,2923,2924,2925,2926,2927,2928,2929,2930,2931,2932,2933,2934,2935,2936,2937,2938,2939,2940,2941,2942,2943,2944,2945,2946,2947,2948,2949,2950,2951,2952,2953,2954,2955,2956,2957,2958,2959,2960,2961,2962,2963,2964,2965,2966,2967,2968,2969,2970,2971,2972,2973,2974,2975,2976,2977,2978,2979,2980,2981,2982,2983,2984,2985,2986,2987,2988,2989,2990,2991,2992,2993,2994,2995,2996,2997,2998,2999,3000,3001,3002,3003,3004,3005,3006,3007,3008,3009,3010,3011,3012,3013,3014,3015,3016,3017,3018,3019,3020,3021,3022,3023,3024,3025,3026,3027,3028,3029,3030,3031,3032,3033,3034,3035,3036,3037,3038,3039,3040,3041,3042,3043,3044,3045,3046,3047,3048,3049,3050,3051,3052,3053,3054,3055,3056,3057,3058,3059,3060,3061,3062,3063,3064,3065,3066,3067,3068,3069,3070,3071,3072,3073,3074,3075,3076,3077,3078,3079,3080,3081,3082,3083,3084,3085,3086,3087,3088,3089,3090,3091,3092,3093,3094,3095,3096,3097,3098,3099,3100,3101,3102,3103,3104,3105,3106,3107,3108,3109,3110,3111,3112,3113,3114,3115,3116,3117,3118,3119,3120,3121,3122,3123,3124,3125,3126,3127,3128,3129,3130,3131,3132,3133,3134,3135,3136,3137,3138,3139,3140,3141,3142,3143,3144,3145,3146,3147,3148,3149,3150,3151,3152,3153,3154,3155,3156,3157,3158,3159,3160,3161,3162,3163,3164,3165,3166,3167,3168,3169,3170,3171,3172,3173,3174,3175,3176,3177,3178,3179,3180,3181,3182,3183,3184,3185,3186,3187,3188,3189,3190,3191,3192,3193,3194,3195,3196,3197,3198,3199,3200,3201,3202,3203,3204,3205,3206,3207,3208,3209,3210,3211,3212,3213,3214,3215,3216,3217,3218,3219,3220,3221,3222,3223,3224,3225,3226,3227,3228,3229,3230,3231,3232,3233,3234,3235,3236,3237,3238,3239,3240,3241,3242,3243,3244,3245,3246,3247,3248,3249,3250,3251,3252,3253,3254,3255,3256,3257,3258,3259,3260,3261,3262,3263,3264,3265,3266,3267,3268,3269,3270,3271,3272,3273,3274,3275,3276,3277,3278,3279,3280,3281,3282,3283,3284,3285,3286,3287,3288,3289,3290,3291,3292,3293,3294,3295,3296,3297,3298,3299,3300,3301,3302,3303,3304,3305,3306,3307,3308,3309,3310,3311,3312,3313,3314,3315,3316,3317,3318,3319,3320,3321,3322,3323,3324,3325,3326,3327,3328,3329,3330,3331,3332,3333,3334,3335,3336,3337,3338,3339,3340,3341,3342,3343,3344,3345,3346,3347,3348,3349,3350,3351,3352,3353,3354,3355,3356,3357,3358,3359,3360,3361,3362,3363,3364,3365,3366,3367,3368,3369,3370,3371,3372,3373,3374,3375,3376,3377,3378,3379,3380,3381,3382,3383,3384,3385,3386,3387,3388,3389,3390,3391,3392,3393,3394,3395,3396,3397,3398,3399,3400,3401,3402,3403,3404,3405,3406,3407,3408,3409,3410,3411,3412,3413,3414,3415,3416,3417,3418,3419,3420,3421,3422,3423,3424,3425,3426,3427,3428,3429,3430,3431,3432,3433,3434,3435,3439,3440,3441,3442,3443,3444,3445,3446,3447,3448,3449,3450,3451,3452,3453,3454,3455,3456,3457,3458,3459,3460,3461,3462,3463,3464,3465,3466,3467,3468,3469,3470,3471,3472,3473,3474,3475,3476,3477,3478,3479,3480,3481,3482,3483,3484,3485,3486,3487,3488,3489,3490,3491,3492,3493,3494,3495,3496,3497,3498,3499,3500,3501,3502,3503,3504,3505,3506,3507,3508,3509,3510,3511,3512,3513,3514,3515,3516,3517,3518,3519,3520,3521,3522,3523,3524,3525,3526,3527,3528,3529,3530,3531,3532,3533,3534,3535,3536,3537,3538,3539,3540,3541,3542,3543,3544,3545,3546,3547,3548,3549,3550,3551,3552,3553,3554,3555,3556,3557,3558,3559,3560,3561,3562,3563,3564,3565,3566,3567,3568,3569,3570,3571,3572,3573,3574,3575,3576,3577,3578,3579,3580,3581,3582,3583,3584,3585,3586,3587,3588,3589,3590,3591,3592,3593,3594,3595,3596,3597,3598,3599,3600,3601,3602,3603,3604,3605,3606,3607,3608,3609,3610,3611,3612,3613,3614,3615,3616,3617,3618,3619,3620,3621,3622,3623,3624,3625,3626,3627,3628,3629,3630,3631,3632,3633,3634,3635,3636,3637,3638,3639,3640,3641,3642,3643,3644,3645,3646,3647,3648,3649,3650,3651,3652,3653,3654,3655,3656,3657,3658,3659,3660,3661,3662,3663,3664,3665,3666,3667,3668,3669,3670,3671,3672,3673,3674,3675,3676,3677,3678,3679,3680,3681,3682,3683,3684,3685,3686,3687,3688,3689,3690,3691,3692,3693,3694,3695,3696,3697,3698,3699,3700,3701,3702,3703,3704,3705,3706,3707,3708,3709,3710,3711,3712,3713,3714,3715,3716,3717,3718,3719,3720,3721,3722,3723,3724,3725,3726,3727,3728,3729,3730,3731,3732,3733,3734,3735,3736,3737,3738,3739,3740,3741,3742,3743,3744,3745,3746,3747,3748,3749,3750,3751,3752,3753,3754,3755,3756,3757,3758,3759,3760,3761,3762,3763,3764,3765,3766,3767,3768,3769,3770,3771,3772,3773,3774,3775,3776,3777,3778,3779,3780,3781,3782,3783,3784,3785,3786,3787,3788,3789,3790,3791,3792,3793,3794,3795,3796,3797,3798,3799,3800,3801,3802,3803,3804,3805,3806,3807,3808,3809,3810,3811,3812,3813,3814,3815,3816,3817,3818,3819,3820,3821,3822,3823,3824,3825,3826,3827,3828,3829,3830,3831,3832,3833,3834,3835,3836,3837,3838,3839,3840,3841,3842,3843,3844,3845,3846,3847,3848,3849,3850,3851,3852,3853,3854,3855,3856,3857,3858,3859,3860,3861,3862,3863,3864,3865,3866,3867,3868,3869,3870,3871,3872,3873,3874,3875,3876,3877,3878,3879,3880,3881,3882,3883,3884,3885,3886,3887,3888,3889,3890,3891,3892,3893,3894,3895,3896,3897,3898,3899,3900,3901,3902,3903,3904,3905,3906,3907,3908,3909,3910,3911,3912,3913,3914,3915,3916,3917,3918,3919,3920,3921,3922,3923,3924,3925,3926,3927,3928,3929,3930,3931,3932,3933,3934,3935,3936,3937,3938,3939,3940,3941,3942,3943,3944,3945,3946,3947,3948,3949,3950,3951,3952,3953,3954,3955,3956,3957,3958,3959,3960,3961,3962,3963,3964,3965,3966,3967,3968,3969,3970,3971,3972,3973,3974,3975,3976,3977,3978,3979,3980,3981,3982,3983,3984,3985,3986,3987,3988,3989,3990,3991,3992,3993,3994,3995,3996,3997,3998,3999,4000,4001,4002,4003,4004,4005,4006,4007,4008,4009,4010,4011,4012,4013,4014,4015,4016,4017,4018,4019,4020,4021,4022,4023,4024,4025,4026,4027,4028,4029,4030,4031,4032,4033,4034,4035,4036,4037,4038,4039,4040,4041,4042,4043,4044,4045,4046,4047,4048,4049,4050,4051,4052,4053,4054,4055,4056,4057,4058,4059,4060,4061,4062,4063,4064,4065,4066,4067,4068,4069,4070,4071,4072,4073,4074,4075,4076,4077,4078,4079,4080,4081,4082,4083,4084,4085,4086,4087,4088,4089,4090,4091,4092,4093,4094,4095,4096,4097,4098,4099,4100,4101,4102,4103,4104,4105,4106,4107,4108,4109,4110,4111,4112,4113,4114,4115,4116,4117,4118,4119,4120,4121,4122,4123,4124,4125,4126,4127,4128,4129,4130,4131,4132,4133,4134,4135,4136,4137,4138,4139,4140,4141,4142,4143,4144,4145,4146,4147,4148,4149,4150,4151,4152,4153,4154,4155,4156,4157,4158,4159,4160,4161,4162,4163,4164,4165,4166,4167,4168,4169,4170,4171,4172,4173,4174,4175,4176,4177,4178,4179,4180,4181,4182,4183,4184,4185,4186,4187,4188,4189,4190,4191,4192,4193,4194,4195,4196,4197,4198,4199,4200,4201,4202,4203,4204,4205,4206,4207,4208,4209,4210,4211,4212,4213,4214,4215,4216,4217,4218,4219,4220,4221,4222,4223,4224,4225,4226,4227,4228,4229,4230,4231,4232,4233,4234,4235,423

,A_Position,A_Entry,A_Exit,AA_Position,AA_Entry,AA_Exit,AAIC_Position,AAIC_Entry,AAIC_Exit,AAP_Position,...,XYL_Exit,YUM_Position,YUM_Entry,YUM_Exit,ZBH_Position,ZBH_Entry,ZBH_Exit,ZTR_Position,ZTR_Entry,ZTR_Exit
0,long,2002-03-11,2002-03-19,long,2002-03-19,2002-03-20,long,2002-03-08,2002-03-11,long,...,2002-04-01,long,2002-02-26,2002-02-27,long,2002-04-29,2002-05-01,long,2002-03-06,2002-03-07
1,long,2002-03-21,2002-03-22,long,2002-06-20,2002-06-21,long,2002-04-12,2002-04-15,long,...,2002-05-09,long,2002-04-10,2002-04-11,long,2002-06-20,2002-06-28,long,2002-03-21,2002-03-26
2,long,2002-04-29,2002-05-01,long,2002-07-29,2002-07-30,long,2002-04-30,2002-05-01,long,...,2002-08-02,long,2002-04-23,2002-04-24,long,2002-07-26,2002-07-29,long,2002-03-26,2002-03-28
3,long,2002-06-13,2002-06-14,long,2002-09-12,2002-09-17,long,2002-05-20,2002-06-04,long,...,2002-08-21,long,2002-05-16,2002-05-20,long,2002-09-09,2002-09-19,long,2002-04-15,2002-04-17
4,long,2002-08-01,2002-08-07,long,2002-09-30,2002-10-03,long,2002-06-11,2002-06-12,long,...,2002-08-21,long,2002-06-11,2002-06-19,long,2002-09-23,2002-09-24,long,2002-07-08,2002-07-18

### Golden death cross

In [7]:
golden_death_cross = GoldenDeathCross(df)
output = golden_death_cross.get_cross(df['A_Close'])
output[output['cross']=='golden']

            Date   cross  long_term_ma
351   2003-05-27  golden     10.832940
880   2005-06-30  golden     16.508977
1243  2006-12-07  golden     24.061051
1632  2008-06-26  golden     24.671781
1890  2009-07-07  golden     13.468348
2223  2010-10-29  golden     22.533691
2556  2012-02-27  golden     28.641774
2778  2013-01-15  golden     28.082582
3268  2014-12-24  golden     40.388131
3333  2015-03-31  golden     40.602784
3523  2015-12-30  golden     39.430200
3592  2016-04-11  golden     38.281350
4216  2018-10-01  golden     67.164850
4486  2019-10-28  golden     74.360100
4638  2020-06-05  golden     78.840550
5226  2022-10-05  golden    130.916149

### Optimising MACD strategy

In [15]:
# try and optimise 

def get_entry_exit_position(enter: pd.Series, exit: pd.Series):
    position_df = pd.DataFrame(columns=["Position", "Entry", "Exit"])

    # Process long positions
    entry_long_idx = pd.Series(enter[enter == "enter_long"].index)
    exit_long_idx = pd.Series(exit[exit == "exit_long"].index)

    long_positions = pd.concat([entry_long_idx, exit_long_idx])
    long_positions = long_positions.sort_values()

    # Get exit positions for long positions
    exit_long_positions = long_positions[long_positions.isin(exit_long_idx)]
    # exit_long_positions = exit_long_positions[1:]  # Exclude the first entry position

    return exit_long_positions

get_entry_exit_position(positions[column_pairs[0][0]],positions[column_pairs[0][1]])

0       2002-01-07
1       2002-01-08
2       2002-01-09
3       2002-01-18
4       2002-01-23
           ...
1975    2022-11-28
1976    2022-12-02
1977    2022-12-05
1978    2022-12-20
1979    2022-12-30
Name: Date, Length: 2154, dtype: object

In [6]:
# timeit
import timeit
mysetup = """
import pandas as pd
import sys
sys.path.append('../src')
from data import load_preprocessed_data, load_close_data
from strategies import MACD
from hydra import initialize, compose
import numpy as np
with initialize(version_base=None, config_path="../conf"):
    datapipeline_cfg = compose(config_name='datapipeline')
stock_data = load_close_data(datapipeline_cfg)
df = stock_data.copy()
macd_positions = MACD(df) 
positions = macd_positions.apply()
"""
mycode = '''
columns = positions.columns
for i in range(0, len(columns), 2):
    col1 = columns[i]
    col2 = columns[i + 1]
    col_name = f'{col1.split("_")[0]}_Exit_Position'
    exit_position = macd_positions.get_exit_position(positions[col1],positions[col2]).rename(col_name)
    positions = pd.concat([positions, exit_position], axis=1)
'''
print(timeit.timeit(setup=mysetup,
                    stmt=mycode,
                    number=1))

1050.2912589

### Get macd entry and exit positions and save as csv file
Dask parallel processing saved about 4min

In [29]:
import dask
def lazy_function(pair):
    col1,col2 = pair[0],pair[1]
    exit_position = macd_positions.get_entry_exit_position(positions[col1],positions[col2])
    return exit_position
lazy_list = []
column_pairs = [(positions.columns[i], positions.columns[i+1]) for i in range(0, len(positions.columns), 2)]
for pair in column_pairs:
    exit_position = dask.delayed(lazy_function)(pair)
    lazy_list.append(exit_position)
exit_position = dask.compute(*lazy_list)

In [31]:
# merge into 1 dataframe and save it
tickers = [col.split('_')[0] for col in df.iloc[:, 1:].columns]
for i in range(len(exit_position)):
    exit_position[i].rename(columns=lambda x: tickers[i] + '_' + x, inplace=True)
merged_df = pd.concat(exit_position, axis=1)

['A',
 'AA',
 'AAIC',
 'AAP',
 'AAT',
 'AB',
 'ABB',
 'ABC',
 'ABEV',
 'ABG',
 'ABM',
 'ABR',
 'ABT',
 'ACCO',
 'ACM',
 'ACN',
 'ACR',
 'ADC',
 'ADM',
 'ADX',
 'AEE',
 'AEG',
 'AEL',
 'AEM',
 'AEO',
 'AEP',
 'AER',
 'AES',
 'AET',
 'AFB',
 'AFG',
 'AFL',
 'AFT',
 'AG',
 'AGCO',
 'AGI',
 'AGM',
 'AGO',
 'AGRO',
 'AGX',
 'AHT',
 'AIG',
 'AIN',
 'AIR',
 'AIT',
 'AIV',
 'AIZ',
 'AJG',
 'AJRD',
 'AKR',
 'AL',
 'ALB',
 'ALE',
 'ALG',
 'ALK',
 'ALL',
 'ALR',
 'ALV',
 'ALX',
 'AME',
 'AMG',
 'AMN',
 'AMP',
 'AMRC',
 'AMT',
 'AN',
 'ANDV',
 'ANF',
 'AON',
 'AORT',
 'AOS',
 'AP',
 'APA',
 'APD',
 'APH',
 'APO',
 'APTV',
 'AQN',
 'ARC',
 'ARCO',
 'ARE',
 'ARGO',
 'ARI',
 'ARL',
 'AROC',
 'ARR',
 'ARW',
 'ASA',
 'ASB',
 'ASG',
 'ASGN',
 'ASH',
 'ASR',
 'ASXC',
 'ATCO',
 'ATGE',
 'ATI',
 'ATO',
 'ATOR',
 'ATR',
 'AUB',
 'AUD',
 'AUY',
 'AVA',
 'AVB',
 'AVD',
 'AVNT',
 'AVY',
 'AWF',
 'AWI',
 'AWK',
 'AWR',
 'AX',
 'AXL',
 'AXP',
 'AXR',
 'AXS',
 'AYI',
 'AZO',
 'AZZ',
 'B',
 'BA',
 'BAC',
 'BAH',
 'BALL',
 'BANC',
 'BAP',
 'BAX',
 'BB',
 'BBAR',
 'BBDC',
 'BBN',
 'BBVA',
 'BBW',
 'BBWI',
 'BBY',
 'BC',
 'BCE',
 'BCH',
 'BCO',
 'BCX',
 'BDC',
 'BDJ',
 'BDN',
 'BDX',
 'BEN',
 'BEP',
 'BFH',
 'BFK',
 'BFS',
 'BFZ',
 'BG',
 'BGR',
 'BGS',
 'BGT',
 'BGX',
 'BGY',
 'BH',
 'BHC',
 'BHE',
 'BHK',
 'BHLB',
 'BHP',
 'BHV',
 'BIG',
 'BIO',
 'BIP',
 'BK',
 'BKD',
 'BKE',
 'BKH',
 'BKN',
 'BKR',
 'BKT',
 'BKU',
 'BLDR',
 'BLE',
 'BLK',
 'BLW',
 'BLX',
 'BME',
 'BMI',
 'BMO',
 'BMY',
 'BN',
 'BNS',
 'BNY',
 'BOE',
 'BOH',
 'BPT',
 'BR',
 'BRC',
 'BRFS',
 'BRO',
 'BRT',
 'BRW',
 'BSL',
 'BSX',
 'BTA',
 'BTE',
 'BTI',
 'BTO',
 'BTZ',
 'BUI',
 'BVH',
 'BWA',
 'BWXT',
 'BX',
 'BXC',
 'BXMT',
 'BXMX',
 'BXP',
 'BYD',
 'BYM',
 'BZH',
 'C',
 'CAA',
 'CACI',
 'CADE',
 'CAE',
 'CAF',
 'CAG',
 'CAH',
 'CAL',
 'CALX',
 'CAT',
 'CATO',
 'CB',
 'CBRE',
 'CBT',
 'CBU',
 'CBZ',
 'CCEP',
 'CCI',
 'CCJ',
 'CCK',
 'CCL',
 'CCO',
 'CCRD',
 'CDE',
 'CE',
 'CEE',
 'CEM',
 'CEQP',
 'CF',
 'CFR',
 'CGA',
 'CGAU',
 'CHD',
 'CHE',
 'CHH',
 'CHN',
 'CHS',
 'CI',
 'CIA',
 'CIEN',
 'CIF',
 'CII',
 'CIM',
 'CIR',
 'CIVI',
 'CL',
 'CLB',
 'CLDT',
 'CLF',
 'CLH',
 'CLS',
 'CLW',
 'CLX',
 'CM',
 'CMA',
 'CMC',
 'CMG',
 'CMI',
 'CMP',
 'CMRE',
 'CMS',
 'CMU',
 'CNA',
 'CNC',
 'CNI',
 'CNK',
 'CNMD',
 'CNO',
 'CNP',
 'CNQ',
 'CNS',
 'CNX',
 'CO',
 'CODI',
 'COF',
 'COHR',
 'COO',
 'COP',
 'CORR',
 'CP',
 'CPA',
 'CPB',
 'CPE',
 'CPF',
 'CPG',
 'CPK',
 'CPRI',
 'CPS',
 'CPT',
 'CRI',
 'CRK',
 'CRL',
 'CRM',
 'CRS',
 'CS',
 'CSL',
 'CSR',
 'CSV',
 'CTO',
 'CTRA',
 'CTS',
 'CUBE',
 'CUK',
 'CULP',
 'CUZ',
 'CVE',
 'CVI',
 'CVS',
 'CVX',
 'CW',
 'CWT',
 'CXE',
 'CXH',
 'CXT',
 'CXW',
 'CYD',
 'CYH',
 'D',
 'DAC',
 'DAL',
 'DAN',
 'DAR',
 'DB',
 'DBD',
 'DBI',
 'DCI',
 'DCO',
 'DD',
 'DDF',
 'DDS',
 'DE',
 'DECK',
 'DEI',
 'DEX',
 'DFS',
 'DG',
 'DGX',
 'DHF',
 'DHI',
 'DHR',
 'DHT',
 'DHX',
 'DIN',
 'DINO',
 'DIS',
 'DK',
 'DKS',
 'DLB',
 'DLR',
 'DLX',
 'DMO',
 'DNP',
 'DOOR',
 'DOV',
 'DPG',
 'DPZ',
 'DQ',
 'DRH',
 'DRI',
 'DRQ',
 'DRS',
 'DSM',
 'DSU',
 'DSX',
 'DTE',
 'DTF',
 'DUK',
 'DVA',
 'DVN',
 'DX',
 'DXC',
 'DY',
 'E',
 'EAT',
 'EBF',
 'EBS',
 'ECL',
 'ED',
 'EDD',
 'EDF',
 'EEA',
 'EEP',
 'EFC',
 'EFR',
 'EFT',
 'EFX',
 'EFXT',
 'EGF',
 'EGLE',
 'EGN',
 'EGO',
 'EGP',
 'EGY',
 'EHC',
 'EHI',
 'EIG',
 'EIX',
 'EL',
 'ELC',
 'ELME',
 'ELP',
 'ELS',
 'ELV',
 'EMD',
 'EME',
 'EMF',
 'EMN',
 'EMO',
 'EMP',
 'EMR',
 'ENB',
 'ENLC',
 'ENOV',
 'ENS',
 'ENV',
 'ENZ',
 'EOD',
 'EOG',
 'EOI',
 'EOS',
 'EOT',
 'EPAC',
 'EPC',
 'EPR',
 'EQC',
 'EQR',
 'EQS',
 'EQT',
 'ERF',
 'ES',
 'ESE',
 'ESS',
 'ESTE',
 'ET',
 'ETB',
 'ETD',
 'ETG',
 'ETJ',
 'ETN',
 'ETO',
 'ETR',
 'ETV',
 'ETW',
 'ETY',
 'EVC',
 'EVF',
 'EVG',
 'EVGN',
 'EVN',
 'EVR',
 'EVRG',
 'EVRI',
 'EVT',
 'EW',
 'EXC',
 'EXD',
 'EXG',
 'EXK',
 'EXP',
 'EXPR',
 'EXR',
 'F',
 'FAF',
 'FAM',
 'FBIN',
 'FBP',
 'FC',
 'FCF',
 'FCN',
 'FCT',
 'FCX',
 'FDP',
 'FDS',
 'FDX',
 'FE',
 'FENG',
 'FEO',
 'FERG',
 'FF',
 'FFA',
 'FGB',
 'FHI',
 'FHN',
 'FICO',
 'FIF',
 'FIS',
 'FIX',
 'FL',
 'FLC',
 'FLO',
 'FLR',
 'FLS',
 'FLT',
 'FMC',
 'FMN',
 'FMO',
 'FMY',
 'FN',
 'FNB',
 'FNF',
 'FNV',
 'FOF',
 'FOR',
 'FR',
 'FRA',
 'FRC',
 'FRO',
 'FRT',
 'FSD',
 'FSM',
 'FSS',
 'FT',
 'FTI',
 'FTK',
 'FTS',
 'FUL',
 'FUN',
 'G',
 'GAB',
 'GAM',
 'GATX',
 'GBAB',
 'GBCI',
 'GBLI',
 'GBX',
 'GCO',
 'GCV',
 'GD',
 'GDL',
 'GDO',
 'GDOT',
 'GDV',
 'GE',
 'GEF',
 'GEN',
 'GEO',
 'GES',
 'GF',
 'GFA',
 'GFF',
 'GGB',
 'GGE',
 'GGG',
 'GGT',
 'GHC',
 'GHL',
 'GHM',
 'GIB',
 'GIC',
 'GIL',
 'GIM',
 'GIS',
 'GL',
 'GLT',
 'GLW',
 'GM',
 'GME',
 'GNE',
 'GNRC',
 'GNT',
 'GNW',
 'GOF',
 'GOLD',
 'GPC',
 'GPI',
 'GPK',
 'GPN',
 'GPRK',
 'GPS',
 'GRBK',
 'GRC',
 'GRMN',
 'GRX',
 'GS',
 'GSL',
 'GTLS',
 'GTN',
 'GTY',
 'GUT',
 'GVA',
 'GWW',
 'H',
 'HAE',
 'HAL',
 'HBI',
 'HBM',
 'HCA',
 'HCI',
 'HD',
 'HDB',
 'HE',
 'HEI',
 'HEQ',
 'HES',
 'HHC',
 'HHS',
 'HI',
 'HIG',
 'HII',
 'HIO',
 'HIVE',
 'HIW',
 'HIX',
 'HL',
 'HLF',
 'HLIO',
 'HLX',
 'HMN',
 'HMY',
 'HNI',
 'HOG',
 'HOMB',
 'HON',
 'HOV',
 'HP',
 'HPP',
 'HPQ',
 'HQH',
 'HQL',
 'HR',
 'HRB',
 'HRI',
 'HRL',
 'HSC',
 'HST',
 'HSY',
 'HT',
 'HTD',
 'HTGC',
 'HTH',
 'HTY',
 'HUBB',
 'HUM',
 'HUN',
 'HVT',
 'HXL',
 'HYB',
 'HYI',
 'HYT',
 'HZO',
 'IAE',
 'IAG',
 'IBM',
 'IBN',
 'ICE',
 'ICL',
 'IDA',
 'IDE',
 'IDT',
 'IEX',
 'IFF',
 'IFN',
 'IGA',
 'IGD',
 'IGI',
 'IGR',
 'IGT',
 'IHD',
 'IIF',
 'IIIN',
 'IIM',
 'IMAX',
 'ING',
 'INGR',
 'INN',
 'INSI',
 'INT',
 'IP',
 'IPG',
 'IPI',
 'IQI',
 'IRL',
 'IRM',
 'IRS',
 'IT',
 'ITGR',
 'ITT',
 'ITW',
 'IVR',
 'IVZ',
 'J',
 'JBL',
 'JBT',
 'JCE',
 'JCI',
 'JEF',
 'JFR',
 'JHI',
 'JHS',
 'JLL',
 'JLS',
 'JMM',
 'JNJ',
 'JNPR',
 'JOE',
 'JOF',
 'JPM',
 'JQC',
 'JRO',
 'JRS',
 'JSD',
 'JWN',
 'K',
 'KAI',
 'KAMN',
 'KAR',
 'KBH',
 'KBR',
 'KDP',
 'KEP',
 'KEX',
 'KEY',
 'KF',
 'KFS',
 'KFY',
 'KGC',
 'KIM',
 'KKR',
 'KMB',
 'KMF',
 'KMG',
 'KMI',
 'KMPR',
 'KMT',
 'KMX',
 'KNX',
 'KO',
 'KOP',
 'KOS',
 'KR',
 'KRC',
 'KRG',
 'KRO',
 'KSM',
 'KSS',
 'KTF',
 'KW',
 'KWR',
 'KYN',
 'L',
 'LAC',
 'LAD',
 'LAZ',
 'LCI',
 'LCII',
 'LDOS',
 'LEA',
 'LEE',
 'LEG',
 'LEN',
 'LEO',
 'LGI',
 'LH',
 'LHO',
 'LHX',
 'LII',
 'LIN',
 'LL',
 'LLY',
 'LMT',
 'LNC',
 'LNN',
 'LOW',
 'LPX',
 'LRN',
 'LSI',
 'LTC',
 'LUMN',
 'LUV',
 'LVS',
 'LXP',
 'LXU',
 'LYB',
 'LYV',
 'LZB',
 'M',
 'MA',
 'MAA',
 'MAC',
 'MAIN',
 'MAN',
 'MAS',
 'MATV',
 'MATX',
 'MAV',
 'MAXR',
 'MBI',
 'MCA',
 'MCD',
 'MCI',
 'MCK',
 'MCN',
 'MCO',
 'MCR',
 'MCS',
 'MCY',
 'MD',
 'MDC',
 'MDT',
 'MDU',
 'MED',
 'MEI',
 'MET',
 'MFA',
 'MFC',
 'MFD',
 'MFM',
 'MFV',
 'MG',
 'MGA',
 'MGF',
 'MGM',
 'MGU',
 'MHD',
 'MHF',
 'MHI',
 'MHK',
 'MHLA',
 'MHN',
 'MHO',
 'MIN',
 'MITT',
 'MIY',
 'MKC',
 'MKL',
 'MLI',
 'MLM',
 'MLP',
 'MLR',
 'MMC',
 'MMP',
 'MMS',
 'MMT',
 'MMU',
 'MNP',
 'MO',
 'MOD',
 'MODG',
 'MOH',
 'MOS',
 'MOV',
 'MPA',
 'MPC',
 'MPV',
 'MPW',
 'MPX',
 'MQT',
 'MQY',
 'MRK',
 'MRO',
 'MS',
 'MSA',
 'MSB',
 'MSCI',
 'MSD',
 'MSI',
 'MSM',
 'MT',
 'MTB',
 'MTD',
 'MTG',
 'MTH',
 'MTN',
 'MTRN',
 'MTW',
 'MTX',
 'MTZ',
 'MUA',
 'MUC',
 'MUE',
 'MUI',
 'MUJ',
 'MUR',
 'MUX',
 'MVF',
 'MVT',
 'MWA',
 'MX',
 'MXE',
 'MXF',
 'MXL',
 'MYC',
 'MYD',
 'MYE',
 'MYI',
 'MYJ',
 'MYN',
 'NAC',
 'NAD',
 'NAN',
 'NAT',
 'NAZ',
 'NBB',
 'NBR',
 'NC',
 'NCA',
 'NCR',
 'NEA',
 'NEE',
 'NEM',
 'NEU',
 'NEV',
 'NFG',
 'NFJ',
 'NGG',
 'NGL',
 'NGS',
 'NHI',
 'NI',
 'NIM',
 'NJR',
 'NKE',
 'NKG',
 'NKX',
 'NL',
 'NLS',
 'NLY',
 'NM',
 'NMFC',
 'NMI',
 'NMT',
 'NMZ',
 'NNI',
 'NNN',
 'NNY',
 'NOA',
 'NOAH',
 'NOC',
 'NOG',
 'NOM',
 'NOV',
 'NPK',
 'NPO',
 'NPV',
 'NQP',
 'NR',
 'NRG',
 'NRK',
 'NSC',
 'NSL',
 'NSP',
 'NTG',
 'NTZ',
 'NUE',
 'NUO',
 'NUS',
 'NUV',
 'NUW',
 'NVG',
 'NVGS',
 'NVO',
 'NVR',
 'NWE',
 'NWN',
 'NX',
 'NXC',
 'NXDT',
 'NXJ',
 'NXN',
 'NXP',
 'NYCB',
 'NYT',
 'NZF',
 'O',
 'OA',
 'OBE',
 'OC',
 'OCN',
 'ODC',
 'ODV',
 'OFC',
 'OFG',
 'OGE',
 'OHI',
 'OI',
 'OIA',
 'OII',
 'OIS',
 'OKE',
 'OLN',
 'OLP',
 'OMC',
 'OMI',
 'OPY',
 ...]

In [51]:
from dask.dataframe import from_pandas
# ddf = from_pandas(positions, npartitions=1425)

def lazy_function(partition):
    col1,col2 = partition.columns[0],partition.columns[1]
    exit_position = macd_positions.get_exit_position(partition[col1],partition[col2])
    return exit_position

# Apply split_dataframe_by_columns to each partition
partitions = [positions.iloc[:, i:i+2] for i in range(0, positions.shape[1], 2)]
ddf_partitions = [from_pandas(partition, npartitions=1) for partition in partitions]
result = [partition.map_partitions(lazy_function).compute() for partition in ddf_partitions]
# result = new_df.compute()
print(result)

KeyboardInterrupt:

In [50]:
import multiprocessing as mp
pool = mp.Pool()

def lazy_function(pair):
    col1,col2 = pair[0],pair[1]
    exit_position = macd_positions.get_entry_exit_position(positions[col1],positions[col2])
    return exit_position
lazy_list = []
column_pairs = [(positions.columns[i], positions.columns[i+1]) for i in range(0, len(positions.columns), 2)]
for pair in column_pairs:
    result = pool.apply_async(lazy_function, args=(pair,))
    lazy_list.append(result)
pool.close()
pool.join()

[     AAIC_Entry   AAIC_Exit
 0           nan         nan
 1           nan         nan
 2           nan         nan
 3           nan   exit_long
 4           nan   exit_long
 ...         ...         ...
 5282        nan  exit_short
 5283        nan         nan
 5284        nan  exit_short
 5285        nan  exit_short
 5286        nan   exit_long

 [5287 rows x 2 columns],
      AAP_Entry    AAP_Exit
 0          nan         nan
 1          nan         nan
 2          nan         nan
 3          nan  exit_short
 4          nan  exit_short
 ...        ...         ...
 5282       nan   exit_long
 5283       nan   exit_long
 5284       nan   exit_long
 5285       nan   exit_long
 5286       nan   exit_long

 [5287 rows x 2 columns],
      AAT_Entry    AAT_Exit
 0          nan         nan
 1          nan         nan
 2          nan         nan
 3          nan   exit_long
 4          nan  exit_short
 ...        ...         ...
 5282       nan         nan
 5283       nan         nan
 5284       nan         nan
 5285       nan         nan
 5286       nan         nan

 [5287 rows x 2 columns],
      AA_Entry     AA_Exit
 0         nan         nan
 1         nan         nan
 2         nan         nan
 3         nan   exit_long
 4         nan   exit_long
 ...       ...         ...
 5282      nan         nan
 5283      nan         nan
 5284      nan   exit_long
 5285      nan  exit_short
 5286      nan   exit_long

 [5287 rows x 2 columns],
      ABB_Entry    ABB_Exit
 0          nan         nan
 1          nan         nan
 2          nan         nan
 3          nan   exit_long
 4          nan         nan
 ...        ...         ...
 5282       nan  exit_short
 5283       nan         nan
 5284       nan   exit_long
 5285       nan         nan
 5286       nan   exit_long

 [5287 rows x 2 columns],
      ABC_Entry    ABC_Exit
 0          nan         nan
 1          nan         nan
 2          nan         nan
 3          nan  exit_short
 4          nan  exit_short
 ...        ...         ...
 5282       nan   exit_long
 5283       nan   exit_long
 5284       nan         nan
 5285       nan  exit_short
 5286       nan  exit_short

 [5287 rows x 2 columns],
      ABEV_Entry   ABEV_Exit
 0           nan         nan
 1           nan         nan
 2           nan         nan
 3           nan  exit_short
 4           nan  exit_short
 ...         ...         ...
 5282        nan         nan
 5283        nan   exit_long
 5284        nan  exit_short
 5285        nan         nan
 5286        nan         nan

 [5287 rows x 2 columns],
      ABG_Entry    ABG_Exit
 0          nan         nan
 1          nan         nan
 2          nan         nan
 3          nan  exit_short
 4          nan  exit_short
 ...        ...         ...
 5282       nan         nan
 5283       nan         nan
 5284       nan         nan
 5285       nan         nan
 5286       nan         nan

 [5287 rows x 2 columns],
      ABM_Entry    ABM_Exit
 0          nan         nan
 1          nan         nan
 2          nan         nan
 3          nan   exit_long
 4          nan  exit_short
 ...        ...         ...
 5282       nan  exit_short
 5283       nan         nan
 5284       nan         nan
 5285       nan  exit_short
 5286       nan   exit_long

 [5287 rows x 2 columns],
      ABR_Entry    ABR_Exit
 0          nan         nan
 1          nan         nan
 2          nan         nan
 3          nan  exit_short
 4          nan  exit_short
 ...        ...         ...
 5282       nan         nan
 5283       nan         nan
 5284       nan         nan
 5285       nan         nan
 5286       nan         nan

 [5287 rows x 2 columns],
      ABT_Entry    ABT_Exit
 0          nan         nan
 1          nan         nan
 2          nan         nan
 3          nan  exit_short
 4          nan  exit_short
 ...        ...         ...
 5282       nan   exit_long
 5283       nan   exit_long
 5284       nan   exit_long
 5285       nan  exit_short
 5286       nan   exit_long

 [5287 rows x 2 columns],
      AB_Entry     AB_Exit
 0         nan         nan
 1         nan         nan
 2         nan         nan
 3         nan   exit_long
 4         nan   exit_long
 ...       ...         ...
 5282      nan  exit_short
 5283      nan  exit_short
 5284      nan  exit_short
 5285      nan  exit_short
 5286      nan         nan

 [5287 rows x 2 columns],
      ACCO_Entry  ACCO_Exit
 0           nan        nan
 1           nan        nan
 2           nan        nan
 3           nan  exit_long
 4           nan  exit_long
 ...         ...        ...
 5282        nan        nan
 5283        nan        nan
 5284        nan        nan
 5285        nan        nan
 5286        nan        nan

 [5287 rows x 2 columns],
      ACM_Entry    ACM_Exit
 0          nan         nan
 1          nan         nan
 2          nan         nan
 3          nan   exit_long
 4          nan  exit_short
 ...        ...         ...
 5282       nan         nan
 5283       nan         nan
 5284       nan         nan
 5285       nan         nan
 5286       nan         nan

 [5287 rows x 2 columns],
      ACN_Entry    ACN_Exit
 0          nan         nan
 1          nan         nan
 2          nan         nan
 3          nan   exit_long
 4          nan         nan
 ...        ...         ...
 5282       nan         nan
 5283       nan         nan
 5284       nan         nan
 5285       nan  exit_short
 5286       nan   exit_long

 [5287 rows x 2 columns],
      ACR_Entry   ACR_Exit
 0          nan        nan
 1          nan        nan
 2          nan        nan
 3          nan  exit_long
 4          nan  exit_long
 ...        ...        ...
 5282       nan        nan
 5283       nan        nan
 5284       nan        nan
 5285       nan        nan
 5286       nan        nan

 [5287 rows x 2 columns],
      ADC_Entry    ADC_Exit
 0          nan         nan
 1          nan         nan
 2          nan         nan
 3          nan  exit_short
 4          nan         nan
 ...        ...         ...
 5282       nan         nan
 5283       nan   exit_long
 5284       nan         nan
 5285       nan  exit_short
 5286       nan   exit_long

 [5287 rows x 2 columns],
        ADM_Entry    ADM_Exit
 0            nan         nan
 1            nan         nan
 2            nan         nan
 3            nan  exit_short
 4            nan  exit_short
 ...          ...         ...
 5282  enter_long         nan
 5283         nan   exit_long
 5284         nan   exit_long
 5285         nan  exit_short
 5286         nan  exit_short

 [5287 rows x 2 columns],
      ADX_Entry    ADX_Exit
 0          nan         nan
 1          nan         nan
 2          nan         nan
 3          nan   exit_long
 4          nan   exit_long
 ...        ...         ...
 5282       nan  exit_short
 5283       nan         nan
 5284       nan  exit_short
 5285       nan  exit_short
 5286       nan         nan

 [5287 rows x 2 columns],
      AEE_Entry    AEE_Exit
 0          nan         nan
 1          nan         nan
 2          nan         nan
 3          nan  exit_short
 4          nan         nan
 ...        ...         ...
 5282       nan         nan
 5283       nan   exit_long
 5284       nan   exit_long
 5285       nan         nan
 5286       nan   exit_long

 [5287 rows x 2 columns],
        AEG_Entry    AEG_Exit
 0            nan         nan
 1            nan         nan
 2            nan         nan
 3            nan  exit_short
 4            nan  exit_short
 ...          ...         ...
 5282  enter_long   exit_long
 5283         nan   exit_long
 5284         nan   exit_long
 5285         nan  exit_short
 5286         nan         nan

 [5287 rows x 2 columns],
      AEL_Entry   AEL_Exit
 0          nan        nan
 1          nan        nan
 2          nan        nan
 3          nan  exit_long
 4          nan        nan
 ...        ...        ...
 5282       nan        nan
 5283       nan        nan
 5284       nan        nan
 5285       nan        nan
 5286       nan        nan

 [5287 rows x 2 columns],
      AEM_Entry    AEM_Exit
 0          nan         nan
 1          nan         nan
 2          nan         nan
 3          nan   exit_long
 4          nan   exit_long
 ...        ...         ...
 5282       nan         nan
 5283       nan   exit_long
 5284       nan   exit_long
 5285       nan  exit_short
 5286       nan         nan

 [5287 rows x 2 columns],
      AEO_Entry    AEO_Exit
 0          nan         nan
 1          nan         nan
 2          nan         nan
 3          nan   exit_long
 4          nan   exit_long
 ...        ...         ...
 5282       nan         nan
 5283       nan   exit_long
 5284       nan  exit_short
 5285       nan  exit_short
 5286       nan  exit_short

 [5287 rows x 2 columns],
      AEP_Entry    AEP_Exit
 0          nan         nan
 1          nan         nan
 2          nan         nan
 3          nan  exit_short
 4          nan   exit_long
 ...        ...         ...
 5282       nan         nan
 5283       nan   exit_long
 5284       nan   exit_long
 5285       nan         nan
 5286       nan   exit_long

 [5287 rows x 2 columns],
      AER_Entry    AER_Exit
 0          nan         nan
 1          nan         nan
 2          nan         nan
 3          nan         nan
 4          nan  exit_short
 ...        ...         ...
 5282       nan         nan
 5283       nan         nan
 5284       nan         nan
 5285       nan         nan
 5286       nan         nan

 [5287 rows x 2 columns],
      AES_Entry    AES_Exit
 0          nan         nan
 1          nan         nan
 2          nan         nan
 3          nan   exit_long
 4          nan   exit_long
 ...        ...         ...
 5282       nan  exit_short
 5283       nan   exit_long
 5284       nan   exit_long
 5285       nan  exit_short
 5286       nan   exit_long

 [5287 rows x 2 columns],
      AET_Entry   AET_Exit
 0          nan        nan
 1          nan        nan
 2          nan        nan
 3          nan  exit_long
 4          nan  exit_long
 ...        ...        ...
 5282       nan        nan
 5283       nan        nan
 5284       nan        nan
 5285       nan        nan
 5286       nan        nan

 [5287 rows x 2 columns],
      AFB_Entry    AFB_Exit
 0          nan         nan
 1          nan         nan
 2          nan         nan
 3          nan  exit_short
 4          nan  exit_short
 ...        ...         ...
 5282       nan         nan
 5283       nan         nan
 5284       nan         nan
 5285       nan         nan
 5286       nan         nan

 [5287 rows x 2 columns],
        AFG_Entry    AFG_Exit
 0            nan         nan
 1            nan         nan
 2            nan         nan
 3            nan   exit_long
 4            nan         nan
 ...          ...         ...
 5282         nan   exit_long
 5283  enter_long   exit_long
 5284         nan   exit_long
 5285         nan  exit_short
 5286         nan         nan

 [5287 rows x 2 columns],
      AFL_Entry    AFL_Exit
 0          nan         nan
 1          nan         nan
 2          nan         nan
 3          nan         nan
 4          nan  exit_short
 ...        ...         ...
 5282       nan         nan
 5283       nan   exit_long
 5284       nan   exit_long
 5285       nan         nan
 5286       nan   exit_long

 [5287 rows x 2 columns],
      AFT_Entry    AFT_Exit
 0          nan         nan
 1          nan         nan
 2          nan         nan
 3          nan   exit_long
 4          nan  exit_short
 ...        ...         ...
 5282       nan         nan
 5283       nan         nan
 5284       nan         nan
 5285       nan         nan
 5286       nan         nan

 [5287 rows x 2 columns],
       AGCO_Entry  AGCO_Exit
 0            nan        nan
 1            nan        nan
 2            nan        nan
 3            nan  exit_long
 4            nan  exit_long
 ...          ...        ...
 5282         nan  exit_long
 5283         nan  exit_long
 5284         nan  exit_long
 5285         nan  exit_long
 5286  enter_long  exit_long

 [5287 rows x 2 columns],
      AGI_Entry   AGI_Exit
 0          nan        nan
 1          nan        nan
 2          nan        nan
 3          nan  exit_long
 4          nan        nan
 ...        ...        ...
 5282       nan        nan
 5283       nan        nan
 5284       nan        nan
 5285       nan        nan
 5286       nan        nan

 [5287 rows x 2 columns],
      AGM_Entry    AGM_Exit
 0          nan         nan
 1          nan         nan
 2          nan         nan
 3          nan   exit_long
 4          nan   exit_long
 ...        ...         ...
 5282       nan  exit_short
 5283       nan  exit_short
 5284       nan  exit_short
 5285       nan  exit_short
 5286       nan         nan

 [5287 rows x 2 columns],
      AGO_Entry    AGO_Exit
 0          nan         nan
 1          nan         nan
 2          nan         nan
 3          nan         nan
 4          nan  exit_short
 ...        ...         ...
 5282       nan         nan
 5283       nan         nan
 5284       nan         nan
 5285       nan         nan
 5286       nan         nan

 [5287 rows x 2 columns],
      AGRO_Entry  AGRO_Exit
 0           nan        nan
 1           nan        nan
 2           nan        nan
 3           nan  exit_long
 4           nan  exit_long
 ...         ...        ...
 5282        nan        nan
 5283        nan        nan
 5284        nan        nan
 5285        nan        nan
 5286        nan        nan

 [5287 rows x 2 columns],
         AGX_Entry    AGX_Exit
 0             nan         nan
 1             nan         nan
 2             nan         nan
 3             nan  exit_short
 4             nan  exit_short
 ...           ...         ...
 5282          nan         nan
 5283          nan   exit_long
 5284   enter_long   exit_long
 5285  enter_short  exit_short
 5286   enter_long   exit_long

 [5287 rows x 2 columns],
      AG_Entry     AG_Exit
 0         nan         nan
 1         nan         nan
 2         nan         nan
 3         nan   exit_long
 4         nan  exit_short
 ...       ...         ...
 5282      nan         nan
 5283      nan         nan
 5284      nan         nan
 5285      nan         nan
 5286      nan         nan

 [5287 rows x 2 columns],
      AHT_Entry   AHT_Exit
 0          nan        nan
 1          nan        nan
 2          nan        nan
 3          nan  exit_long
 4          nan  exit_long
 ...        ...        ...
 5282       nan        nan
 5283       nan        nan
 5284       nan        nan
 5285       nan        nan
 5286       nan        nan

 [5287 rows x 2 columns],
      AIG_Entry    AIG_Exit
 0          nan         nan
 1          nan         nan
 2          nan         nan
 3          nan  exit_short
 4          nan  exit_short
 ...        ...         ...
 5282       nan         nan
 5283       nan   exit_long
 5284       nan   exit_long
 5285       nan         nan
 5286       nan   exit_long

 [5287 rows x 2 columns],
      AIN_Entry    AIN_Exit
 0          nan         nan
 1          nan         nan
 2          nan         nan
 3          nan   exit_long
 4          nan         nan
 ...        ...         ...
 5282       nan  exit_short
 5283       nan         nan
 5284       nan         nan
 5285       nan  exit_short
 5286       nan   exit_long

 [5287 rows x 2 columns],
      AIR_Entry    AIR_Exit
 0          nan         nan
 1          nan         nan
 2          nan         nan
 3          nan   exit_long
 4          nan   exit_long
 ...        ...         ...
 5282       nan  exit_short
 5283       nan         nan
 5284       nan   exit_long
 5285       nan         nan
 5286       nan   exit_long

 [5287 rows x 2 columns],
      AIT_Entry    AIT_Exit
 0          nan         nan
 1          nan         nan
 2          nan         nan
 3          nan   exit_long
 4          nan  exit_short
 ...        ...         ...
 5282       nan         nan
 5283       nan         nan
 5284       nan   exit_long
 5285       nan  exit_short
 5286       nan   exit_long

 [5287 rows x 2 columns],
      AIV_Entry    AIV_Exit
 0          nan         nan
 1          nan         nan
 2          nan         nan
 3          nan   exit_long
 4          nan   exit_long
 ...        ...         ...
 5282       nan  exit_short
 5283       nan  exit_short
 5284       nan  exit_short
 5285       nan  exit_short
 5286       nan         nan

 [5287 rows x 2 columns],
      AIZ_Entry    AIZ_Exit
 0          nan         nan
 1          nan         nan
 2          nan         nan
 3          nan  exit_short
 4          nan  exit_short
 ...        ...         ...
 5282       nan         nan
 5283       nan         nan
 5284       nan         nan
 5285       nan         nan
 5286       nan         nan

 [5287 rows x 2 columns],
      AJG_Entry    AJG_Exit
 0          nan         nan
 1          nan         nan
 2          nan         nan
 3          nan  exit_short
 4          nan  exit_short
 ...        ...         ...
 5282       nan         nan
 5283       nan         nan
 5284       nan   exit_long
 5285       nan  exit_short
 5286       nan   exit_long

 [5287 rows x 2 columns],
      AJRD_Entry  AJRD_Exit
 0           nan        nan
 1           nan        nan
 2           nan        nan
 3           nan  exit_long
 4           nan  exit_long
 ...         ...        ...
 5282        nan  exit_long
 5283        nan  exit_long
 5284        nan  exit_long
 5285        nan  exit_long
 5286        nan  exit_long

 [5287 rows x 2 columns],
      AKR_Entry    AKR_Exit
 0          nan         nan
 1          nan         nan
 2          nan         nan
 3          nan   exit_long
 4          nan  exit_short
 ...        ...         ...
 5282       nan         nan
 5283       nan   exit_long
 5284       nan   exit_long
 5285       nan  exit_short
 5286       nan   exit_long

 [5287 rows x 2 columns],
      ALB_Entry    ALB_Exit
 0          nan         nan
 1          nan         nan
 2          nan         nan
 3          nan   exit_long
 4          nan  exit_short
 ...        ...         ...
 5282       nan  exit_short
 5283       nan  exit_short
 5284       nan  exit_short
 5285       nan  exit_short
 5286       nan         nan

 [5287 rows x 2 columns],
      ALE_Entry    ALE_Exit
 0          nan         nan
 1          nan         nan
 2          nan         nan
 3          nan  exit_short
 4          nan  exit_short
 ...        ...         ...
 5282       nan         nan
 5283       nan         nan
 5284       nan   exit_long
 5285       nan  exit_short
 5286       nan   exit_long

 [5287 rows x 2 columns],
      ALG_Entry    ALG_Exit
 0          nan         nan
 1          nan         nan
 2          nan         nan
 3          nan         nan
 4          nan   exit_long
 ...        ...         ...
 5282       nan  exit_short
 5283       nan         nan
 5284       nan         nan
 5285       nan         nan
 5286       nan   exit_long

 [5287 rows x 2 columns],
      ALK_Entry    ALK_Exit
 0          nan         nan
 1          nan         nan
 2          nan         nan
 3          nan   exit_long
 4          nan   exit_long
 ...        ...         ...
 5282       nan  exit_short
 5283       nan         nan
 5284       nan  exit_short
 5285       nan  exit_short
 5286       nan   exit_long

 [5287 rows x 2 columns],
      ALL_Entry    ALL_Exit
 0          nan         nan
 1          nan         nan
 2          nan         nan
 3          nan  exit_short
 4          nan         nan
 ...        ...         ...
 5282       nan   exit_long
 5283       nan   exit_long
 5284       nan   exit_long
 5285       nan         nan
 5286       nan   exit_long

 [5287 rows x 2 columns],
         ALR_Entry    ALR_Exit
 0             nan         nan
 1             nan         nan
 2             nan         nan
 3             nan  exit_short
 4             nan  exit_short
 ...           ...         ...
 5282          nan         nan
 5283          nan         nan
 5284          nan  exit_short
 5285          nan  exit_short

In [14]:
import concurrent.futures
def lazy_function(pair):
    col1,col2 = pair[0],pair[1]
    exit_position = macd_positions.get_entry_exit_position(positions[col1],positions[col2])
    return exit_position
column_pairs = [(positions.columns[i], positions.columns[i+1]) for i in range(0, len(positions.columns), 2)]
with concurrent.futures.ProcessPoolExecutor() as executor:
    # can replace ProcessPoolExecutor with ThreadPoolExecutor
    result = list(executor.map(lazy_function, [pair for pair in column_pairs]))

BrokenProcessPool: A process in the process pool was terminated abruptly while the future was running or pending.

In [31]:
# convert to dask df
from dask.dataframe import from_pandas
ddf = from_pandas(positions, npartitions=2)
column_pairs = [(ddf.columns[i], ddf.columns[i+1]) for i in range(0, len(ddf.columns), 2)]
for pair in column_pairs:
pd.concat([positions, exit_position], axis=1)

In [30]:
macd_df = pd.DataFrame()
test_df = yf.download('A', start="2002-01-01",
                   end="2003-01-01", interval = "1d",
                   )
macd_df["rsi"] = talib.RSI(test_df['Close'], timeperiod=2)
macd_df.iloc[2:10]

[*********************100%***********************]  1 of 1 completed

                   rsi
Date
2002-01-04  100.000000
2002-01-07   93.139912
2002-01-08   93.794802
2002-01-09   37.679751
2002-01-10   27.234886
2002-01-11   10.859347
2002-01-14    5.179905
2002-01-15    9.747900

In [46]:
macd_df = pd.DataFrame()
test_df = yf.download('A', start="2002-01-01",
                   end="2003-01-01", interval = "1d",
                   )
macd = talib.MACD(test_df['Close'], fastperiod=12, slowperiod=26, signalperiod=9) 
macd_df['histogram'] = macd[2] # macd line - signal line
macd_df['macd'] = macd[0]

#entry where 1 = enter and 0 = do not enter trade
macd_df['long_signal'] = np.where((macd_df['histogram']>0) &(macd_df['histogram'].shift(1)<=0),1,0)
macd_df['short_signal'] = np.where((macd_df['histogram']<0) &(macd_df['histogram'].shift(1)>=0),1,0)
# trading positions where you enter the trade 1 day after the signal (assuming that the closing price is used to calculate the EMA)
macd_df['long_position'] = np.where(macd_df['long_signal'].shift(1)==1,1,0) 
macd_df['short_position'] = np.where(macd_df['short_signal'].shift(1)==1,1,0)
macd_df['position'] = np.where(macd_df['long_position'] == 1, 'long', np.where(macd_df['short_position'] == 1, 'short', np.nan))
macd_df

[*********************100%***********************]  1 of 1 completed

,histogram,macd,long_signal,short_signal,long_position,short_position,position
Date,,,,,,,
2002-01-02,NaN,NaN,0,0,0,0,nan
2002-01-03,NaN,NaN,0,0,0,0,nan
2002-01-04,NaN,NaN,0,0,0,0,nan
2002-01-07,NaN,NaN,0,0,0,0,nan
2002-01-08,NaN,NaN,0,0,0,0,nan
...,...,...,...,...,...,...,...
2002-12-24,-0.034280,0.384308,0,0,0,0,nan
2002-12-26,-0.018510,0.395451,0,0,0,0,nan
2002-12-27,-0.015994,0.393969,0,0,0,0,nan
2002-12-30,-0.025989,0.377476,0,0,0,0,nan
2002-12-31,-0.036853,0.357400,0,0,0,0,nan

In [62]:
macd_df = pd.DataFrame()
test_df = yf.download('AMZN', start="2017-01-01",
                   end="2017-04-30", interval = "1d",
                   )
macd = talib.MACD(test_df['Close'], fastperiod=12, slowperiod=26, signalperiod=9) 
macd_df['histogram'] = macd[2] # macd line - signal line
macd_df['macd'] = macd[0]

#entry where 1 = enter and 0 = do not enter trade
macd_df['long_signal'] = np.where((macd_df['histogram']>0) &(macd_df['histogram'].shift(1)<=0),1,0)
macd_df['short_signal'] = np.where((macd_df['histogram']<0) &(macd_df['histogram'].shift(1)>=0),1,0)
# trading positions where you enter the trade 1 day after the signal (assuming that the closing price is used to calculate the EMA)
macd_df['long_position'] = np.where(macd_df['long_signal'].shift(1)==1,1,0) 
macd_df['short_position'] = np.where(macd_df['short_signal'].shift(1)==1,1,0)
macd_df['position'] = np.where(macd_df['long_position'] == 1, 'long', np.where(macd_df['short_position'] == 1, 'short', np.nan))
# drop unnecessary columns to free space 
macd_df = macd_df.drop(['long_position', 'short_position','long_signal','short_signal'], axis=1)
# macd_df['position'] = np.where((macd_df['long_position']==1)|(macd_df['short_position']==1),1,0)

#exit (2-day RSI of single day is greater than 65 for long positions, and less than 35 for short positions)
macd_df['Close'] = test_df['Close']
macd_df['Date'] = macd_df.index
macd_df.reset_index(inplace=True,drop=True)
macd_df['rsi'] = talib.RSI(macd_df['Close'],timeperiod=2)
macd_df['entry_date'] = macd_df.apply(lambda _: '', axis=1)
for i in macd_df.loc[macd_df['position']==1].index:
    macd_df['entry_date'].iloc[i] = macd_df['Date'].iloc[i]
macd_df['exit_long'] = np.where(macd_df['rsi'].shift(1)>65,1,0) #signal to exit is generated when 2-period RSI above 65, but exit trade is only executed on following day.
macd_df['exit_short'] = np.where(macd_df['rsi'].shift(1)<35,1,0)
macd_df['exit_date'] = ''
# exit long positions
for i in macd_df.loc[macd_df['long_position']==1].index:
    new_macd_df = macd_df.loc[i+2:]
    if len(new_macd_df) == 0: #index out of range, so use last date as exit
        macd_df['exit_date'].iloc[i] = macd_df['Date'].iloc[-1]
    for j in range(len(new_macd_df)):
        if new_macd_df['exit_long'].iloc[j]==1:
            macd_df['exit_date'].iloc[i] = new_macd_df['Date'].iloc[j]
            break
        else:
            macd_df['exit_date'].iloc[i] = macd_df['Date'].iloc[-1]
# exit short positions
for i in macd_df.loc[macd_df['short_position']==1].index:
    new_macd_df = macd_df.loc[i+2:]
    if len(new_macd_df) == 0: #index out of range, so use last date as exit
        macd_df['exit_date'].iloc[i] = macd_df['Date'].iloc[-1]
    for j in range(len(new_macd_df)):
        if new_macd_df['exit_short'].iloc[j]==1:
            macd_df['exit_date'].iloc[i] = new_macd_df['Date'].iloc[j]
            break
        else:
            macd_df['exit_date'].iloc[i] = macd_df['Date'].iloc[-1]

### Profit
macd_df['profit'] = ''
macd_df['winlose'] = ''

#long profit
for i in macd_df[macd_df['long_position']==1].index:
    start_price = float(macd_df[macd_df['Date']==macd_df['entry_date'].iloc[i]]['Close'])
    end_price = float(macd_df[macd_df['Date']==macd_df['exit_date'].iloc[i]]['Close'])    
    profit = 1+(end_price-start_price)/start_price
    if profit > 1:
        winlose = 1 
    else:
        winlose = 0
    macd_df['profit'].iloc[i] = profit
    macd_df['winlose'].iloc[i] = winlose

#short profit
for i in macd_df[macd_df['short_position']==1].index:
    start_price = float(macd_df[macd_df['Date']==macd_df['exit_date'].iloc[i]]['Close'])
    end_price = float(macd_df[macd_df['Date']==macd_df['entry_date'].iloc[i]]['Close'])  
    profit = 1+(end_price-start_price)/start_price
    if profit > 1:
        winlose = 1 
    else:
        winlose = 0
    macd_df['profit'].iloc[i] = profit
    macd_df['winlose'].iloc[i] = winlose

return macd_df[macd_df['position']==1]

[*********************100%***********************]  1 of 1 completed

KeyError: 'long_position'

In [35]:
index = macd_df[macd_df['Date'] == '2017-03-30'].index[0]
macd_df.loc[index:]

,histogram,macd,long_signal,short_signal,long_position,short_position,position,Close,Date,rsi,entry_date,exit_long,exit_short,exit_date
60,0.065857,0.329368,0,0,1,0,1,43.817001,2017-03-30,98.265638,2017-03-30 00:00:00,1,0,2017-04-03 00:00:00
61,0.126896,0.422131,0,0,0,0,0,44.327000,2017-03-31,99.295241,,1,0,
62,0.171669,0.509822,0,0,0,0,0,44.575500,2017-04-03,99.553532,,1,0,
63,0.236534,0.633820,0,0,0,0,0,45.341499,2017-04-04,99.863023,,1,0,
64,0.268987,0.733520,0,0,0,0,0,45.464001,2017-04-05,99.887881,,1,0,
65,0.235892,0.759398,0,0,0,0,0,44.914001,2017-04-06,37.985993,,1,0,
66,0.187161,0.757457,0,0,0,0,0,44.743999,2017-04-07,27.464372,,0,0,
67,0.180408,0.795806,0,0,0,0,0,45.352001,2017-04-10,75.669417,,0,1,
68,0.146174,0.798116,0,0,0,0,0,45.118000,2017-04-11,50.060957,,1,0,
69,0.091551,0.766380,0,0,0,0,0,44.811501,2017-04-12,26.535672,,0,0,
70,0.009476,0.686674,0,0,0,0,0,44.233501,2017-04-13,9.571352,,0,1,
71,0.006628,0.685483,0,0,0,0,0,45.099499,2017-04-17,68.985530,,0,1,
72,0.004018,0.683878,0,0,0,0,0,45.188999,2017-04-18,72.693894,,1,0,
73,-0.018640,0.656560,0,1,0,0,0,44.959999,2017-04-19,45.099129,,1,0,
74,-0.028895,0.639081,0,0,0,1,1,45.103001,2017-04-20,62.756178,2017-04-20 00:00:00,0,0,
75,-0.051161,0.604025,0,0,0,0,0,44.926498,2017-04-21,34.982651,,0,0,
76,-0.040074,0.605094,0,0,0,0,0,45.370499,2017-04-24,79.849430,,0,1,
77,-0.036235,0.599874,0,0,0,0,0,45.381001,2017-04-25,80.486439,,1,0,
78,-0.032400,0.595609,0,0,0,0,0,45.464500,2017-04-26,87.014321,,1,0,
79,-0.005018,0.621736,0,0,0,0,0,45.918999,2017-04-27,97.202427,,1,0,
80,0.027785,0.661485,1,0,0,0,0,46.249500,2017-04-28,98.693356,,1,0,

In [25]:
macd_df[macd_df['long_position']==1]

,histogram,macd,long_signal,short_signal,long_position,short_position,position,Close,Date,rsi,entry_date,exit_long,exit_short,exit_date
60,0.065857,0.329368,0,0,1,0,1,43.817001,2017-03-30,98.265638,2017-03-30 00:00:00,1,0,2017-04-03 00:00:00

In [26]:
macd_df.loc['2017-03-27':]

,histogram,macd,long_signal,short_signal,long_position,short_position,position
Date,,,,,,,
2017-03-27,-0.105279,0.156655,0,0,0,0,0
2017-03-28,-0.070606,0.173677,0,0,0,0,0
2017-03-29,0.011058,0.258105,1,0,0,0,0
2017-03-30,0.065857,0.329368,0,0,1,0,1
2017-03-31,0.126896,0.422131,0,0,0,0,0
2017-04-03,0.171669,0.509822,0,0,0,0,0
2017-04-04,0.236534,0.633820,0,0,0,0,0
2017-04-05,0.268987,0.733520,0,0,0,0,0
2017-04-06,0.235892,0.759398,0,0,0,0,0
2017-04-07,0.187161,0.757457,0,0,0,0,0
2017-04-10,0.180408,0.795806,0,0,0,0,0
2017-04-11,0.146174,0.798116,0,0,0,0,0
2017-04-12,0.091551,0.766380,0,0,0,0,0
2017-04-13,0.009476,0.686674,0,0,0,0,0
2017-04-17,0.006628,0.685483,0,0,0,0,0
2017-04-18,0.004018,0.683878,0,0,0,0,0
2017-04-19,-0.018640,0.656560,0,1,0,0,0
2017-04-20,-0.028895,0.639081,0,0,0,1,1
2017-04-21,-0.051161,0.604025,0,0,0,0,0
2017-04-24,-0.040074,0.605094,0,0,0,0,0
2017-04-25,-0.036235,0.599874,0,0,0,0,0
2017-04-26,-0.032400,0.595609,0,0,0,0,0
2017-04-27,-0.005018,0.621736,0,0,0,0,0
2017-04-28,0.027785,0.661485,1,0,0,0,0

In [5]:
aapl = yf.Ticker("aapl")
aapl.dividends

Date
1987-05-11 00:00:00-04:00    0.000536
1987-08-10 00:00:00-04:00    0.000536
1987-11-17 00:00:00-05:00    0.000714
1988-02-12 00:00:00-05:00    0.000714
1988-05-16 00:00:00-04:00    0.000714
                               ...
2022-02-04 00:00:00-05:00    0.220000
2022-05-06 00:00:00-04:00    0.230000
2022-08-05 00:00:00-04:00    0.230000
2022-11-04 00:00:00-04:00    0.230000
2023-02-10 00:00:00-05:00    0.230000
Name: Dividends, Length: 78, dtype: float64

In [7]:
data = pd.DataFrame()
for i in ['AMZN']:
    stock = yf.download(i, start="2017-01-01",
                   end="2017-04-30", interval = "1d",
                   )
    stock = stock.dropna().reset_index() 
    #stock = pd.MultiIndex.from_frame(stock,names=[])
stock

[*********************100%***********************]  1 of 1 completed

,Date,Open,High,Low,Close,Adj Close,Volume
0,2017-01-03,37.896000,37.938000,37.384998,37.683498,37.683498,70422000
1,2017-01-04,37.919498,37.984001,37.709999,37.859001,37.859001,50210000
2,2017-01-05,38.077499,39.119999,38.013000,39.022499,39.022499,116602000
3,2017-01-06,39.118000,39.972000,38.924000,39.799500,39.799500,119724000
4,2017-01-09,39.900002,40.088501,39.588501,39.846001,39.846001,68922000
...,...,...,...,...,...,...,...
76,2017-04-24,45.433998,45.499500,45.191002,45.370499,45.370499,62458000
77,2017-04-25,45.352001,45.473999,45.150002,45.381001,45.381001,67612000
78,2017-04-26,45.514999,45.787498,45.377998,45.464500,45.464500,52178000
79,2017-04-27,45.719501,46.092999,45.605499,45.918999,45.918999,106110000
80,2017-04-28,47.441502,47.479500,46.216499,46.249500,46.249500,147294000